[2014-11-25 18:34] sglanzer-fire opened #3 "Fix the coverage regex"
The coverage regex is currently hard coded to "filter" in blanket-options.js

This needs to cover all of the relevant javascript files in the application (I'm assuming templates can't be covered).

Refer to https://github.com/alex-seville/blanket/blob/master/docs/intermediate_browser.md and http://www.w3schools.com/jsref/jsref_obj_regexp.asp as sources for the regex format.

[2014-11-25 18:36] sglanzer-fire opened #4 "Instrument all required files"
I believe that the source _and_ test files must be instrumented in order to provide correct coverage.  The test files should be excluded from coverage via the antifilter in blanket-options.js

Currently not all of the files in the application are present in the requirejs.entries when instrumenting (routes for example).  Figure out why.

[2014-11-25 18:39] sglanzer-fire opened #5 "Fix execution dependencies"
Certain files are complaining of missed dependencies (e.g. "config") when executing.  Find out how to include these dependencies (likely related to the files required in blanket - e.g. the blanket-loader.js and what was changed from the original  - requiringFile and processFiles from https://github.com/alex-seville/blanket/blob/master/src/blanketRequire.js)

[2014-11-25 18:41] sglanzer-fire opened #6 "Remove "define" hack"
A hack in blanket-loader.js adds the "define" string back around modules. Blanket wasn't loading the modules otherwise.

Find a way to get blanket to load the module without the "define" or find a way to access the entire content string (define included) instead of just the module function.

[2014-11-25 18:42] sglanzer-fire opened #7 "Find a better way to execute the blanket-loader"
I'm including the blanket-loader script after the application in the tests/index.html, but it uses insertIntoFile in the blueprint.

The script can be added more than once and doesn't remove itself if the addon is removed.

The broccoli based tree merge, file concatenation is a much nicer approach.

[2014-11-25 20:30] #3 closed, assigned to nobody

[2014-11-25 20:30] #4 closed, assigned to nobody

[2014-11-25 20:30] #5 closed, assigned to nobody

[2014-11-25 20:30] #6 closed, assigned to nobody

[2014-11-25 20:51] sglanzer opened #8 "Conflict with initializers (e.g. simple-auth-cookie-store)"
Appears to be double-registration of the service.

[2014-11-26 17:51] sglanzer-fire opened #9 "Make the blanket options an exposed configuration"

[2014-11-27 18:59] #9 closed, assigned to nobody

[2014-12-02 00:26] abuiles opened #10 "ember-cli 0.1.3 issue"
Hey, it seems like this can't be run with ember-cli 0.1.3?

[code]

I can't check right now the issue, but it was working with 0.1.2

[2014-12-03 15:23] pogopaule opened #11 ""Cannot read property 'pkg' of null" on running generator"
If I run `ember g ember-cli-blanket` I get the following error

[code]

[2014-12-07 05:37] #10 closed, assigned to nobody

[2014-12-08 11:19] #11 closed, assigned to nobody

[2014-12-12 19:26] adambullmer opened #12 "Deprecated call: Ember Resolver"
Pretty sure it's originating from this repo. Getting a deprecation notice.

[code]

[2014-12-24 06:48] achan opened #13 "Any way to run code coverage via command line?"
I'm new to ember-cli and Ember in general, but is there a way to run blanket from command line? Any options to enable it via `ember test`? Moreover, is there an easy way to generate lcov reports to feed in to services like coveralls / code climate?

[2014-12-30 21:42] notmessenger opened #14 "Uncaught Error: Could not find module..."
I attempted to use this add on against an installation of https://github.com/softlayer/sl-ember-translate.  Without its use the tests at :4200/tests run just fine, but with this add on this is displayed in the browser:

global failure (1, 0, 1)
Uncaught Error: Could not find module sl-ember-translate/index
Source:
/assets/vendor.js:65

and this In the console:

Uncaught Error: Could not find modul

[2015-01-08 14:45] tschoartschi opened #15 "Problem with global vars in instrumented code: "ReferenceError: Webapp is not defined""
Hey!

I'm trying to integrate Blanket.js into our development workflow. I used ember-cli to scaffold the app. After that I tried to install ember-cli-blanket. But now our test suite doesn't work anymore. This is because we need to put a global variable onto the "window" scope (for communication with legacy code). Therefore our app.js file looks as follows:
[code]
For some reason the instrumented c

[2015-01-08 15:33] djmitchella commented on #14
I get the same error when trying to use https://github.com/RSSchermer/ember-spectrum-color-picker, for what it's worth; that one is trivial, it's (basically) a single file that wraps an existing JS library, so there's no custom loader there.

[2015-01-08 16:43] djmitchella commented on #14
For what it's worth, a workaround in this particular case is to add:
loaderExclusions: ["spectrum-color-picker"]
to blanket-options.js.

I'm still not sure what makes the loader so unhappy -- the spectrum-color-picker wrapper is very tiny so there's something pretty fundamental here.

 For what it's worth, my guess is that the loader gets confused because spectrum-color-picker has, in addon/compon

[2015-01-08 17:27] sglanzer commented on #15
@tschoartschi Hey, I'm not sure if the issue is with the global variable or something else.  I tested

[code]

with the coverage turn on in an application I've been working on (200+ unit tests) and it executed without issue.

I'm running ember-cli 0.1.5 and ember 1.9.1 for reference.  Have you tested the theory with a fresh ember-cli project with the only addition being ember-cli-blanket and the g

[2015-01-08 17:29] sglanzer commented on #14
Thanks for the additional details - I'll create a test project with the spectrum-color-picker and attempt to resolve this.  We have a number of addons in our project, but it's possible that none use that structure.

[2015-01-09 14:37] tschoartschi commented on #15
Okay thanks for the pointer! I just tried it out and realized, that the config.APP was never put on the window. Then I browsed through our code and realized that someone put window.Webapp = {} into some test. Maybe this is the reason why it worked without instrumentation.

Now I put the following code into the resolver.js (tests/helpers/resolver.js)
[code]
Don't know if this is the right place. I'

[2015-01-09 16:16] sglanzer commented on #15
Yep, it's a known issue - the instrumentation loads all of the modules, so initializers that can only be loaded once need to be explicitly excluded for now.  This is the more detailed discussion with an example workaround https://github.com/sglanzer/ember-cli-blanket/issues/8

[2015-01-09 16:25] djmitchella opened #16 "Code coverage breaks 'no jshint' for tests"
Another one related to the way things are loaded differently, I think. Repro steps:
1. ember init
2. ember serve
3. go to localhost:4200/tests; there's jshint tests there (and nothing else)
4. check the 'disable jshint' box. Now all the tests disappear.
5. Stop server, npm install ember-cli-blanket --save-dev, ember generate ember-cli-blanket
6. ember serve
7. go to localhost:4200/tests. Tests sti

[2015-01-09 16:34] sglanzer commented on #16
Some investigation into using the client flags would be useful.  Ideally I'd only like to instrument and run the coverage when the "enable coverage" checkbox is flagged, so the nojshint would fall into a similar investigation.

[2015-01-09 17:26] djmitchella commented on #16
A quick and dirty way to solve this is to change the end of blanket-loader.js from:

    if (!exclude) {

to

    if (!exclude && !QUnit.urlParams.nojshint) {

 That means that disabling jshint also (effectively) turns off code coverage, but I can live with that for now.

[2015-01-09 18:09] sglanzer commented on #16
@djmitchella Good to know - definitely a useful starting point for making better use of the flags.

[2015-01-12 09:18] hwwan80 commented on #14
I get the same error too for the following modules

ember-cli-bootstrap
ember-cli-datepicker
ember-cli-jquery-ui
ember-idx-forms

this can be reproduced by a blank app after installing the above modules and run its generator

[2015-01-30 17:21] sglanzer commented on #15
Closing as a duplicate of #8

[2015-01-30 17:21] #15 closed

[2015-02-01 17:15] sglanzer commented on #12
@adambullmer @notmessenger I've upgraded the project to ember-cli 0.1.12 and I've removed a lot of dependencies that were part of the ember addon generation.  This issue should be resolved in the 0.2.3 release.

[2015-02-01 17:20] sglanzer commented on #14
@hwwan80 @notmessenger Looking into this now.  The scope of the code coverage may need to be scaled back to handle these situations.  Currently every module is run through the instrumentation so that a full picture of the project's code coverage is displayed.  I need to find a way to exclude addons from the instrumentation since the code coverage for those should be done in their own projects, not

[2015-02-01 18:09] sglanzer commented on #14
@hwwan80 @notmessenger I believe I've resolved the first portion of this issue.  The blanket-loader will now avoid instrumentation of any modules that don't contain the project's modulePrefix.  I've confirmed this against ember-spectrum-color-picker and sl-ember-translate.

Unfortunately, I haven't determined a way to distinguish between modules in the app directory that originated from an addon v

[2015-02-01 18:14] sglanzer commented on #8
I pushed a fix for another issue (non-project modules being instrumented) in 0.2.4 that I believe fixes this as well (explicit exclusion is no longer necessary).  I need to do additional testing, but if anyone can contribute to confirming this I would appreciate it.

So far I've only tested against the simple-auth addon and confirmed that the exclusion wasn't necessary any more.

[2015-02-01 18:16] sglanzer opened #17 "Exclude modules from addons from coverage instrumentation"
Addon modules should not be part of the coverage report for a project.  Addons should be tested in their own projects and will impact the coverage report of dependent projects if they are not excluded.

[2015-02-01 18:17] sglanzer commented on #14
Closing in favor of #17

[2015-02-01 18:17] #14 closed

[2015-02-01 18:17] #12 closed

[2015-02-01 18:18] sglanzer commented on #8
Closing in favor of #17

[2015-02-01 18:18] #8 closed

[2015-02-02 18:49] sglanzer opened #18 "Utility classes (off the standard ember path) aren't being instrumented"

[2015-02-05 18:55] kiwiupover commented on #13
thanks @achan for looking into command line interface I would totally use it. cheers

[2015-02-10 20:54] djmitchella commented on #18
I am literally in the middle of making a repro for this and went to make a new issue; I have a helper object in app/utils/..., and it doesn't get shown as covered. Ember-cli does suggest that 'utils' is the right place under http://www.ember-cli.com/#using-modules, but it doesn't seem to help. Moving it under 'helpers' doesn't make any difference, either.

Weirdly, even if I put my helper class un

[2015-02-19 19:50] jschilli opened #26 "Ability to disable coverage reporting?"
Before I put up a PR for this I'd love some guidance/feedback on best way to accomplish this.

I'd like to be able to disable coverage reporting for a given run of tests.  I have a totally hacked version that uses a query string `?coverage=1` and then wraps the blanket loader with a conditional.

The use case is that when debugging tests in the browser I'd prefer stepping through un-annotated code

[2015-02-19 20:25] sglanzer commented on #26
It's funny, because most of the project consists of these sorts of hacks =)

I've had a few people ask for this at my work and I agree, we should only be instrumenting the code when coverage is requested (e.g. the enable coverage checkbox is on).

I went searching for the hooks for those checkboxes before in the ember-cli code, but it's a minefield and I didn't have much luck.  If you have somethi

[2015-02-19 20:27] sglanzer commented on #26
Is the query string something you have to manually add to the URL, or is there a way we can trigger it from the current Enable Coverage checkbox?  Triggering from the checkbox would be really nice.

[2015-02-19 20:30] jschilli commented on #26
I'm running mocha here - so no Enable Coverage checkbox - if I wrap the bits in a conditional we can do anything - although I suspect that enable coverage would trigger a reload with a query param

Let me cleanup my hack and play with a few options - will be later today/tomorrow before I have a PR

thx

[2015-02-19 20:39] sglanzer commented on #26
So for Qunit there is the ability to add config, which is how blanket adds the checkbox:

QUnit.config.urlConfig.push({
id: "coverage",
label: "Enable coverage",
tooltip: "Enable code coverage."
});

When checked, this puts a query param on the URL 'tests?coverage'

It's possible Mocha has the same kind of config - I'll do a little digging.

[2015-02-20 01:56] #26 closed

[2015-02-26 13:43] sglanzer commented on #13
We're going to start looking into the headless run as well as LCOV reports that can be fed into systems like Sonar or TeamCity.  @achan Have you made any progress looking into this that we could build on?

[2015-02-26 14:11] achan commented on #13
Nope sorry, not able to work on this at the moment..

[2015-02-26 15:24] sglanzer commented on #13
@achan No problem, just wanted to make sure we didn't duplicate effort.

[2015-02-26 16:33] kiwiupover commented on #13
@achan Let me know if I can help with the headless coverage reports either testing or coding.

[2015-02-26 16:35] achan commented on #13
@kiwiupover I'm pretty much not involved with this issue other than creating it.. I believe @sglanzer is your guy :)

[2015-02-26 16:37] kiwiupover commented on #13
Ok I get it.

[2015-03-01 14:21] topaxi commented on #18
None of my app/utils are reported as covered too, are there any workarounds or fixes?

[2015-03-01 14:46] sglanzer commented on #18
@topaxi Not currently.  The project instruments (wraps classes with JavaScript that monitors the lines executed)  any class included in the requirejs.entries loaded by ember-cli.  Unfortunately, this doesn't include anything that isn't in the standard trees ember-cli monitors.

The only solution I've thought of currently is to walk the full app tree and include any files not already in the require

[2015-03-04 05:36] notmessenger opened #29 "Console Warning: 'Attr.nodeValue' is deprecated. Please use 'value' instead."
blanket.js:5074

This line in `collectPageScripts`:
[code]

Can be re-created by installing and enable coverage reporting against https://github.com/softlayer/sl-ember-components/commit/a360de031d90754ac335921dfa9d90b5a131d36e (presently HEAD on the develop branch)

[2015-03-07 22:17] grese opened #30 "Any way to output test results to an lcov file?"
Is there currently any way to output the test results into a file?  We have to have our coverage data in an lcov file that gets picked up automatically.  Also, is there a way to get coverage from headless browsers (phantomJS)

[2015-03-07 22:22] grese commented on #13
@sglanzer - I would like to get involved.. Our team really needs headless tests, and custom coverage reporting.  I have some spare time to spend on this because it is the only item keeping our team from onboarding to ember-cli :)

Could you please point me to the necessary hooks as you mentioned above?  I would love these features :)

[2015-03-07 22:30] sglanzer commented on #30
#13 is intended to cover this issue.

[2015-03-07 22:30] #30 closed

[2015-03-07 22:51] sglanzer commented on #13
@grese Excellent, getting this feature would be great.

https://github.com/alex-seville/blanket/tree/master/test/custom-reporter is the basic blanketjs example for custom reporters.

This appears to be reasonable example for running with phantomjs and a custom reporter: https://github.com/ModelN/grunt-blanket-qunit

That uses grunt but I would imagine that it could also be driven using testem (sta

[2015-03-07 22:54] sglanzer commented on #13
Another note - I'm not a fan of how the project hooks into ember-cli currently, it was a hack effort and I think modifying the instrumentation to run during the postProcess hook http://hashrocket.com/blog/posts/a-compendium-of-hooks-in-embercli#postprocess would be a better idea.

If you can get the headless runner going with the current implementation, cool - otherwise we may need a bit better co

[2015-03-09 16:56] grese commented on #13
I've managed to get the lcov file working when the user hits localhost:4200?coverage=true (with both mocha and qunit), but still need to get it working in the headless runner...(that's where the bulk of the work will be, I suppose.).

Thanks for the pointers :)
I'll also look into the hooks while I'm at it because I think your're correct - (we will probably need more control to make this work in h

[2015-03-09 17:43] grese commented on #30
:)  Thanks... submitted this before I commented on that other post

[2015-03-10 03:28] sglanzer commented on #29
That's an issue with blanket https://github.com/alex-seville/blanket/issues/461, but I'll leave it open until the version is updated with a fix

[2015-03-10 08:26] huafu opened #31 "how to set other options such as `branchTracking` flag?"
First of all, thanks for this great addon!

Looking at [blanket options](https://github.com/alex-seville/blanket/blob/master/docs/browser_options.md) how can I set them thru the config? Like setting the `flags` to `branchTracking`  for example?

[2015-03-11 02:32] huafu commented on #18
I have the same issue here, but looks like it is just `initializers` and `utils`, included in the ember cli tree, which are shown in coverage, but reported as **not** covered. Tho they are all in `require.entries` (I removed irrelevant entries there to make it smaller):

[code]
[code]

Then they all appear in the coverage report, but appears as not covered, tho they're all or almost called, even h

[2015-03-11 04:54] sglanzer commented on #18
That's interesting, I guess I just assumed they weren't in the requirejs entries.  I haven't had a report of them showing up in coverage before, maybe CLI changed.  Not sure why they would be uncovered if they got instrumented, but it definitely gets us closer.

[2015-03-11 13:35] djmitchella commented on #18
Ah, to clarify, I'm seeing the same thing; when I said "[my helper object] doesn't get shown as covered", I meant "shows up in the report but with all lines not showing as covered". But as I said, I don't think it's related to paths, I think it's related to how they get loaded, because non-"Controller" objects in /controllers don't get shown as being covered even when they are.

[2015-03-12 02:48] huafu commented on #18
Yup, I guess EmberCLI loader does the `container.register(...)` before this addon's instrument them. So it's just a matter of where to make the call which is instrumenting the `require.entries` items.

[2015-03-12 03:16] jschilli commented on #18
might be worth looking app-boot.js (https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/app-boot.js).

The addon could return contentFor(‘app-boot’) to hop in early in the process.

It’s on my list to experiment with this hook - but it definitely is before the app boots.

[2015-03-13 05:46] maneeshnanu opened #32 "Events on marker not working"
I am working on a website developed in Ember-CLI and having Embe Google Map add-on. Ember Google Map add-on is implemented successfully in the app. On clicking the marker the info window shows up with the text, but I would like to perform some other operations as well on click on the marker.
I tried the process explained here:
"https://github.com/huafu/ember-google-map/wiki/Provided-Tools-and-Clas

[2015-03-13 06:20] #32 closed

[2015-03-13 13:42] max-winderbaum commented on #13
@grese, could you publish your work thusfar? I'd love to see it :+1:

[2015-03-19 15:11] jschilli commented on #31
you should be able to set them directly in blanket-options.js

[2015-03-19 15:50] jschilli opened #33 "provide config for addons [enhancement]"
It would be ideal to have a standard config option to do coverage testing for ember-addons

This would require changes to the moduleLoader (perhaps by extracting the `shouldCover` functionality) into an app vs addon matcher

I'm working through the bits here.

I have it instrumenting the addon files currently but they aren't being executed.

Will advise

[2015-03-19 19:35] jschilli commented on #18
I was opening a new issue to report the same but I'll add my comments here.

The issue is not that the other assets are not in the requirejs entries but rather that in the process of adding coverage to a file blanket ends up requiring the other dependencies before they themselves have been covered.

I've confirmed this by setting breakpoints in the 'imported' file and indeed it is in uncovered cod

[2015-03-19 23:47] huafu commented on #31
Thanks, but I tried and the only options there are not even named as the one described in blanket help, so I do not think this is the way :-/

[2015-03-19 23:51] jschilli commented on #31
I set debug=true and that worked.

When I get back to my computer I'll take a look

[2015-03-19 23:58] huafu commented on #31
well, maybe just my flag is not working then haha. Thanks for looking tho

[2015-03-20 13:31] jschilli commented on #18
I've put up a branch testing out the concept of monkey-patching require

Before Coverage:
![std-blanket-coverage](https://cloud.githubusercontent.com/assets/122509/6752309/b3ee1fc8-cee3-11e4-9231-7c5027eb48a6.png)

After Coverage:
![update-blanket-coverage](https://cloud.githubusercontent.com/assets/122509/6752314/bc427804-cee3-11e4-8287-1f8a883af398.png)

The uncovered code in stock ember-cli-bla

[2015-03-20 14:06] Coobaha commented on #18
I have `app/mixins` not covered also

[2015-03-20 14:09] jschilli commented on #18
@Coobaha

npm i "git://github.com/jschilli/ember-cli-blanket.git#stub-require" and give it a whirl - I haven't tried mixins specifically but believe it should be covered

[2015-03-20 14:15] Coobaha commented on #18
@jschilli

your branch shows 100% coverage for file, but I have no tests for it :)

[2015-03-20 14:19] jschilli commented on #18
@Coobaha not enough info to help - imported file? public repo? blanket will cover the lines if they are executed - regardless of who calls them

[2015-03-20 14:31] Coobaha commented on #18
Sorry, you are right @jschilli . After isolating coverage worked as it should - all ok :+1:

[2015-03-25 03:27] sglanzer commented on #18
I believe the latest commit from @jschilli addresses this issue.  Any modules imported into a module on the standard path will be included in the coverage.

This should address modules such as mixins, utility function modules or object models.

Version 0.3.3 has been released with these changes, I'll leave this issue open for a few days to gather feedback, but the early tests I've run with Jeff's

[2015-03-25 03:30] sglanzer commented on #18
Note that modules that aren't imported won't be covered still, but I believe this should be addressed with an appropriately scoped issue and will likely require a rewrite using the postProcess hook.  It's also much less of priority in my opinion.

[2015-03-25 16:40] jschilli commented on #18
@sglanzer are there specific examples that aren't covered? that would be meaningful?  initializers?

My question is if a module is not imported is it ever executed? unless that's the point - you want to report 0% coverage on modules in requirejs.entries that are never executed.  I have some ideas on that

[2015-03-26 16:28] jschilli commented on #31
@huafu - confirmed that below works.

Please confirm and close.
[code]

[2015-03-26 16:30] jschilli commented on #18
I'll self reply here - I added blanket back to my main app and now very clearly see the issue with not covering requirejs.entries.

we're only covering files that are required - it's pretty important to reflect those files that aren't covered at all.

I'll take a swing @ this - may be a few days

[2015-03-27 16:11] huafu commented on #31
I'll test that as soon as I can and close if it's working. Thanks again!

[2015-03-27 23:53] #18 closed

[2015-03-28 00:02] sglanzer commented on #18
You rule Jeff =)

[2015-03-31 11:22] DebVortex commented on #13
It has been a couple of days, since @grese posted that he working on a approach of tackling headless coverage.

Does anyone have new information about that? I'm really interested in this topic as well.

[2015-03-31 11:23] Coobaha opened #36 "ember-cli 0.2.2"
new ember-cli logs:
`[Deprecated] this.mergeTrees is deprecated, please use broccoli-merge-trees directly instead  [addon: Ember CLI Blanket]`

[2015-03-31 11:29] jschilli commented on #36
I’ll put up a PR this morning

[2015-03-31 14:36] jschilli commented on #13
I dug into this a few days ago while looking @ the overall coverage updates

Stating the obvious we need to:
[] generate an lcov report from blanket
[] get the lcov report written to the filesystem

I'm working on a POC using an ember test middleware to take the results when the the blanket test ends.

setting up the lcov reporter is a bit of PITA but I'm close - will advise

[2015-03-31 22:41] #36 closed

[2015-04-01 13:17] jschilli commented on #31
I've been running for a few days with this option enabled as described.  closing

[2015-04-01 13:17] #31 closed

[2015-04-01 13:18] jschilli opened #39 "Add test suite to the project"
We need a standard test suite, particularly as we add new capabilities.

@sglanzer I prefer mocha and have some boilerplate that makes it easier to test addons - any strong preference for mocha vs qunit?

[2015-04-01 13:44] huafu commented on #31
Ok thanks. I still did not get the time to test that sorry. It's in my config but I had other projects to work on and a huge bug in the compile process of my project so get DS not get the chance to test that.

[2015-04-02 03:55] sglanzer commented on #39
Definitely fine with mocha - I prefer the language, but stuck with qunit in my last project (ember-cli-mocha wasn't available at the time).  More than happy to see some examples/try it out in this project.

[2015-04-02 03:57] jschilli commented on #39
cool - I’ll also publish a test project with the lcov-writing branch so folks can check it out - I’m wrapped on other stuff for a day or two but will get back to it

[2015-04-02 04:02] sglanzer commented on #39
Fantastic, thanks!

[2015-04-08 02:06] jschilli opened #40 "setup travis job now that we have tests"
I'll publish a pro-forma travis job jshint + npm test

[2015-04-09 14:52] jschilli commented on #40
done, thanks @sglanzer

[2015-04-09 14:52] #40 closed

[2015-04-10 06:47] avdv opened #41 "ember-cli-qunit 0.3.11 autostart handling"
Hi.

Two days ago ember-cli-qunit was released, and because of this change https://github.com/ember-cli/ember-cli-qunit/commit/98c8d370d574adc4deb2ab438edd0d248b22155b no tests are run anymore.

Giving the `autostart=true` config as a URL parameter did not work either.

Any idea how to resolve this in ember-cli-blanket or is that an issue for ember-cli-qunit or even blanket.js?

Thanks

[2015-04-10 11:27] sglanzer commented on #41
If you look at the top lines of lib/start.js you can see that the
ember-cli-qunit behavior has flip flopped a few times on this.  Since we
set auto start to false to allow instrumentation to finish, qunit.start
must be called explicitly.  As a temporary measure you can uncomment the
qunit.start in start.js and we'll look into a better way to detect this
behavior so that any further flip flops don'

[2015-04-14 17:06] chrisvdp opened #42 "Running Tests causes 'ReferenceError: Can't find variable: moduleLoaderFinish'"
I installed by running `ember install:addon ember-cli-blanket`.

I am running ember-cli v0.2.1 with ember-cli-mocha v0.5.0. When I start the tests I get the error
`✘ ReferenceError: Can't find variable: moduleLoaderFinish (http://localhost:7357/assets/test-lo
ader.js:105)`

The error is being thrown from `assets/start.js:56` which is the following snippet

[code]

[2015-04-14 21:51] jschilli commented on #42
@chrisvdp is blanket-loader.js included in your tests/index.html?

[2015-04-14 21:54] chrisvdp commented on #42
it isn't

[2015-04-14 21:56] jschilli commented on #42
add `<script src="assets/blanket-loader.js"></script>` to tests/index.html - it should be automatic when installing.

we have a new version forthcoming that changes the way this is maintained.

let me know.

[2015-04-14 22:07] chrisvdp commented on #42
looks like we had the existing script tags as absolute links not relative so the script wasn't finding them and inserting the tags.

[2015-04-14 22:07] #42 closed

[2015-04-17 00:47] #13 closed

[2015-04-17 00:49] jschilli commented on #39
closed by #38

[2015-04-17 00:49] #39 closed

[2015-04-17 00:50] jschilli opened #43 "support multiple reporters in headless testing"

[2015-04-17 22:35] jrowlingson opened #44 "missing lcov.txt in root dir after ember test"
With the following config:

[code]

I am not seeing the lcov file in the root dir after running ```ember test```. Is there something I am missing?

[2015-04-17 23:04] sglanzer commented on #44
I believe it's being output as "coverage.json" currently, which is the default.  We'll have to look into why the options aren't being respected.

[2015-04-17 23:07] jschilli commented on #44
Are you running with ?coverage

In the testem.json

We need to either update the doc or figure out how to specify an alt testem config so it's on by default

-jeff

[2015-04-17 23:08] jschilli commented on #44
Ouch. I can look at that this weekend

-jeff

[2015-04-18 04:01] jschilli commented on #44
my testem.ci.json file looks like:
[code]

ember test --config-file testem.ci.json

the `?coverage` is what turns on coverage testing

another way to verify is to run ember test watch - append the coverage query parm or select the coverage checkbox (if qunit)

run your tests and the file should be there.

I'll update the docs in a PR soon

[2015-04-20 04:33] hjdivad commented on #41
@sglanzer any reason why blanket can't do the same thing as ember-cli in https://github.com/ember-cli/ember-cli-qunit/commit/98c8d370d574adc4deb2ab438edd0d248b22155b and so let the user have the final say on whether tests should automatically start?

[2015-04-20 11:18] sglanzer commented on #41
Looks reasonable to me, the only requirement is that autostart must be false while the instrumentation is occurring.

If you want to submit a pull request I'll merge it, otherwise we'll try to get to this sometime today.

[2015-04-20 14:23] hjdivad commented on #41
@sglanzer cool.  It sounds like you don't need any changes from ember-cli-qunit, but let me know if you do

[2015-04-20 14:38] jrowlingson commented on #44
I was missing the ```?coverage``` part. I am now seeing the lcov.txt appear in the root dir. Thanks for your help here.

[2015-04-20 16:26] #44 closed

[2015-04-21 12:28] sglanzer commented on #41
@hjdivad just a note since it's going to work in this case, but ember-cli-qunit is actually overriding the value of autostart downstream.  Ember-cli-blanket is upstream, so it won't hurt in this case, but it may be something you want to fix.

[code]

[2015-04-21 15:30] hjdivad commented on #41
@sglanzer that's a great point.  Unfortunately ember-cli-qunit has the same problem ember-cli-blanket has: we need QUnit to not *actually* autostart (in ember-cli-qunit's case to work around a tedious chrome deficiency when using sourcemaps).

I don't see a way for us to not interfere downstream except by requiring users to use a different flag from the standard `QUnit.config.autostart`.  Do you?

[2015-04-21 16:13] djmitchella commented on #16
This is fixed in 0.5.0.

[2015-04-21 16:13] #16 closed

[2015-04-21 20:14] sglanzer commented on #41
@hjdivad Can we just set the value back into the property after consuming it?  I.e. Instead of calling Qunit.start() in the addon, just set qunit.config.autostart back to the value of 'autostart' and let it fall through?

[2015-04-21 20:29] hjdivad commented on #41
@sglanzer at that point it's too late I think.  QUnit will check `autostart` during dom ready, but if we start that early we'll run into the issue with chrome not having loaded sourcemaped files yet.

The problem will, presumably, go away on its own once chrome fixes their bug and we don't need this 250ms delay.

[2015-04-21 20:29] hjdivad commented on #41
@sglanzer we could add something to QUnit's api to have more control over when `autostart` actually starts but I doubt they'd want to complicate their API for something expected to be temporary.

[2015-04-21 20:31] hjdivad commented on #41
@sglanzer sorry I read your comment as if you were talking about ember-cli-qunit.  What are the actual runtime requirements of ember-cli-blanket?  Do you just need the tests to start after a short delay?  If so you probably don't need to do anything at all for newer versions of ember-cli-qunit.

[2015-04-21 20:33] sglanzer commented on #41
@hjdivad No, I was referring the ember-cli-qunit, but obviously if it's a workaround then we can't/shouldn't do anything about it.  Blanket needs to instrument all of the files in the application, not just the test files, which is why we make use of the autostart false as well.

[2015-04-22 02:17] cah-briangantzler opened #46 "Puts and Posts failing when using "ember server --proxy""
I upgraded to 0.5.0 and now all the puts and posts are cancelled when going through a proxy similar to this [post](http://stackoverflow.com/questions/23856465/ember-cli-proxy-works-for-get-but-fails-on-put-and-post) from some time ago. Looking at the changes from version 4 to version 5, there is a middleware function in 5 index.js that includes the line
[code]
 If I comment out this line, my proxy

[2015-04-22 04:51] sglanzer commented on #41
Unfortunately I'm bogged down with a product demo and won't be able to address this until the weekend.  If anyone else wants to have a go before then, feel free

[2015-04-22 12:56] jschilli commented on #46
@cah-briangantzler I've removed that line locally, restarted my app (with a `--proxy http://localhost:9292`) and the following blanket.options

[code]

and I do get the `lcov.dat` file outputted correctly.

IIRC the `bodyparser.urlencoded` was in an early rev of this feature when I wasn't `POST`ing the data as JSON.

Can you verify that the POST is failing in a browser?  Any other diagnostics?

[2015-04-22 12:57] jschilli commented on #46
which is to say that I'm happy to push a change to remove `bodyparser.urlencoded` after some testing, but we should figure out if that's going to work for you.

[2015-04-22 13:12] cah-briangantzler commented on #46
There may be an issue with our blanket options. We have below. Im not sure why they chose to put the outfile in a lcovOptions hash. I will try moving it to the same level you have and try it

[code]

Thanks for the speedy responce

[2015-04-22 13:16] jschilli commented on #46
`outputfile` is nested because we’re paving the way for multiple reporters and options per reporter

less future change with that (although admittedly awkward without current functionality for such)

There should be a default output file for each reporter - I can look @ that seperately.

Also, see #44 (https://github.com/sglanzer/ember-cli-blanket/issues/44 <https://github.com/sglanzer/ember-cli-b

[2015-04-22 14:34] cah-briangantzler commented on #46
We have retest again and I must have not had something saved. Commenting out that line and having the blanket options as I have above (with nesting) does create the files as needed and fixes my problem.

[2015-04-22 14:35] jschilli commented on #46
Thanks for verifying.

I will push a change to remove the urlencoded parser.

[2015-04-22 14:57] #46 closed

[2015-04-22 20:56] flyswatter opened #48 "Where do blanket-options go?"
The README mentions configuration in a `blanket-options.js` file, but doesn't say where this file goes!

Where does it go?

[2015-04-22 21:00] flyswatter opened #49 "List in /tests page not scrollable"
If I call `ember serve` and navigate to my `/tests` route and click `show coverage`, the coverage tests are shown in an element, but if the list is long, it will spill out of view, and is not scrollable.

[2015-04-22 21:00] jschilli commented on #48
In the tests directory. Should be auto installed as part of the install.

-jeff

[2015-04-22 21:07] flyswatter commented on #49
I've searched the entire project for `.css` files, to see where this style would be defined, but only found the `tests/dummy/app/styles/app.css` file.  Any tips where the `#blanket-main` styles are declared?

[2015-04-22 21:11] chrisvdp commented on #49
sounds like it didn't install properly. They should be added inline to tests/index.html

[2015-04-22 21:11] chrisvdp commented on #49
<style>#blanket-main { position: relative; z-index: 99999; }</style>

[2015-04-22 21:12] jschilli commented on #49
Dan,  it's in your tests.html. Or should be. Inserted by index.js

Sounds like you did an npm install whereas the blanket file install and css touchup happen in after install

Not at the computer right now. But I can take a look at this and see what alternatives we have

-jeff

[2015-04-22 21:17] flyswatter commented on #49
I actually did the `ember install:addon ember-cli-blanket` right off the README.

They *are* added, their div element just isn't scrollable.

I got it doing what I wanted by adding this CSS to my project:

[code]

But sounds like this was an install error?  Leaving this open so we can explore what went wrong.

[2015-04-22 21:22] flyswatter commented on #49
Oh yes, `#blanket-main { position: relative; z-index: 99999; }` was inserted into my `tests/index.html` file, but it still wasn't scrollable until I added `overflow-y:scroll`.

[2015-04-22 21:24] chrisvdp commented on #49
what browser?

[2015-04-22 21:25] flyswatter commented on #49
Chrome Version 42.0.2311.90 (64-bit)

[2015-04-22 21:26] chrisvdp commented on #49
Running the same and don't have any issues. I am using mocha though.

[2015-04-23 09:28] #48 closed

[2015-04-23 18:00] flyswatter commented on #49
This may be because I'm running a css-reset, and `ember-cli-blanket` is assuming some default style behavior.

This would present a decent question to consider:  Should this addon expect a certain style context, or should it provide the styles that it relies on?

[2015-04-28 01:41] sglanzer commented on #41
I've added a fix for this available in 0.5.1 - check it out and if it addresses your issue we can close this.

[2015-04-28 16:27] hjdivad commented on #41
cc @avdv

I'm guessing you guys don't need anything more from `ember-cli-qunit` but if you do, please ping me.  Thanks ^_^

[2015-04-29 01:09] sglanzer commented on #41
Thanks for your help @hjdivad, always nice to chat with other people working on ember-cli projects =)

[2015-04-29 14:59] avdv commented on #41
Thanks guys, it works as desired. Closing.

[2015-04-29 14:59] #41 closed

[2015-04-29 19:12] cah-briangantzler commented on #46
Got busy at work, sorry. Finally got around to trying this. Our original problem was, when we authenticate to j_security_check as a POST through the ember server proxy, it was getting cancelled. Removing the line that we talked about started that working, however once in the app and I try to POST to an actual rest service, POSTs and PUTs are still getting cancelled. I thought I had tested this pri

[2015-04-30 07:46] avdv opened #52 "Avoid fixed paths for assets"
In our project, we need to relocate the /assets path to somewhere else because we're dealing with `assets` as our main model.  So, the `/assets/<id>` is a route used for managing our `assets`, not loading auxiliary static files.

That's why we relocated the /assets in the Brocfile.js to another place:

[code]

Unfortunately, ember-cli-blanket has the path hard-coded and does not use the app.config

[2015-04-30 13:41] JohnQuaresma opened #53 "PUT & POST requests with content type application/json are stalling in ember-cli http-proxy"
Hello ember-cli-blanket team,

First of all, this add-on is great.  So glad to have coverage built into my ember-cli testing process!

Now for my issue - after upgrading to the latest version (0.5.1), which contained a fix for x-www-form-urlencoded POST requests hanging in the ember-cli http-proxy, I started having similar issues with POST and PUT requests of content-type application/json.

I've v

[2015-05-01 02:47] jschilli commented on #53
@JohnQuaresma can you share some config or description there of so I can replicate for testing changes?  I don't have http-proxy setup.

0.4.0 didn't write coverage data so none of the middleware functionality was there.

should be easily fixable if I can get an environment setup to recreate it

[2015-05-01 22:50] flyswatter commented on #17
Came here to suggest the same thing.  Is there a plan for how to implement this?

[2015-05-01 22:57] sglanzer commented on #17
I haven't really started looking into it - with the new way addons are namespaced in ember-cli 0.2.x it's probably more possible than it was before.  I'd probably start with asking some of the ember-cli core team about this if we want to start investigation.

[2015-05-05 02:12] cah-briangantzler commented on #53
Having the same on [issue 46](https://github.com/sglanzer/ember-cli-blanket/issues/46) which I though we had fixed. I dont know of any public api that would accept a post or put, so cant do a jsbin. To reproduce create an application that posts to localhost:4200\yourservice and start ember with "ember server --proxy=actualserviceurl". You should see the post hang.

[2015-05-06 12:29] jschilli commented on #53
@JohnQuaresma @cah-briangantzler can one or both of you share the console output of ember serve when you observe this?  I setup this morning to proxy our app using `ember serve --proxy` and PUT, POST, GET all work just fine (normally proxy through nginx so I hadn't seen any issues)

I'm setup here to help fix this just need some additional detail on this.

[code]

[2015-05-06 12:45] cah-briangantzler commented on #53
Proxying to http://localhost:8080/
Livereload server on port 35729
Serving on http://localhost:4200/latest/cabinet/

The network request in the browser sits at pending for a while, then cancels. I then get this in the log

Error proxying to http://localhost:8080/
socket hang up
Error: socket hang up
    at createHangUpError (http.js:1477:15)
    at Socket.socketOnEnd [as onend] (http.js:1573:23)

[2015-05-06 13:08] jschilli commented on #53
hmmm,

are you using generated mocks or proxies?

One other way to skin the cat here is to add an option to disable server middleware when running in 'ember serve' mode vs ember test - I added it to both b/c I generally leave ember serve running and toggle between tests and app

the original use case for writing coverage output files was for ci test support.

would be easy to add `disableServerMid

[2015-05-06 13:22] JohnQuaresma commented on #53
@jschilli did you try it with content-type application/json?  Content type x-www-form-urlencoded works fine - it's json that hangs.  I was using the http-proxy (not mocks / fixtures).

Another thing I noticed is that your middleware is executing even when not running unit / acceptance tests, which I found to be quite odd.  I didn't think that was possible, but as soon as I removed ember-cli-blanke

[2015-05-06 13:53] jschilli commented on #53
@JohnQuaresma I did -

Here's the output when I run with the following flags:

`DEBUG="express:*, body-parser:*, ember-cli:serve, morgan" ember serve --proxy`

[code]

can you run yours with the `DEBUG=` flags above - might shed some clues

WRT the middleware running.  as I said above I added it to `serverMiddleware` to support the usecase of coverage reporting when running in ember serve mode - t

[2015-05-06 14:03] cah-briangantzler commented on #53
I also am not using mocks at the moment due to a bug (all my models have custom adapters and due to dasherized, only during tests, ember data fails to lookup the correct adapter) but do plan on using mocks as soon as the bug is corrected.

I would also vote for the middleware only active during test. We typically are running another server in test mode in another window to switch back and forth as

[2015-05-06 14:04] cah-briangantzler commented on #53
I also hate to be such a newbie but could you point me to a page to read more what the following does? I tried it and would like to know more about what is happening

DEBUG="express:*, body-parser:*, ember-cli:serve, morgan" ember serve --proxy

[2015-05-06 14:08] jschilli commented on #53
@cah-briangantzler  see https://www.npmjs.com/package/debug

[2015-05-06 14:19] JohnQuaresma commented on #53
I ran with those flags, but I get absolutely no debug output from express or body parser - only morgan:

  morgan log request +1m
PUT /api/entity/8d1eafa9-8a64-4c2c-8705-fe368b1a7075 500 60095.294 ms - -
  morgan log request +2ms
PUT /api/aspect/037c8c49-84cb-4106-b587-a29c04e346be 500 60101.915 ms - -

[2015-05-06 14:21] jschilli commented on #53
what version of ember-cli? (I’m on 0.2.3)

I’m working on a fix to make serverMiddleware opt in only.

not sure how to debug the issue without some clues to recreate.

[2015-05-06 14:29] JohnQuaresma commented on #53
I'm on 0.2.3 as well.

I was able to get some more debug output - I think the syntax you had wasn't working for me.  I just used DEBUG=*.  Here's the debug output from the requests:

  express:router dispatching PUT /api/aspect/037c8c49-84cb-4106-b587-a29c04e346be +10s
  express:router query  : /api/aspect/037c8c49-84cb-4106-b587-a29c04e346be +1ms
  express:router expressInit  : /api/aspect/037c8c

[2015-05-06 14:36] JohnQuaresma commented on #53
For what it's worth, the express & body parser messages came straight away - as soon as I sent the request.  However, the morgan logs didn't show up until a full minute (server timeout?) after the body-parser / express messages.

Here is the output from that same debugging when I downgrade to ember-cli-blanket 0.4.0 (please note that body-parser does not get called, the morgan output is printed st

[2015-05-06 14:38] jschilli commented on #53
thanks @JohnQuaresma - I'll post a note here when the PR is up to disable serverMiddleware

[2015-05-06 15:02] jschilli commented on #53
@JohnQuaresma @cah-briangantzler can you try this branch before I PR?

npm install "git://github.com/jschilli/ember-cli-blanket/#fix-middleware"

this completely removes `serverMiddleware` - I'll need to take another pass when I have time to figure out how to selectively enable it

[2015-05-06 15:07] JohnQuaresma commented on #53
I can't right now - I'm in the middle of something else.  @cah-briangantzler?  I may be able to get to this later today.

[2015-05-06 15:09] jschilli commented on #53
np, let me know

[2015-05-06 15:22] cah-briangantzler commented on #53
I tried that branch. My JSON post now works
[code]

The main reason we wanted to upgrade was for the reports. So running in test mode the reports were created and uploaded successfully

[code]

I think it looks good for me

[2015-05-07 11:14] #53 closed

[2015-05-11 01:50] green-arrow opened #57 "Cannot run tests with LCOV reporter"
Whenever I attempt to run `ember test` or `ember test --server`, and have the reporter set to `lcov` instead of `json`, I run into the following error:

[code]

FWIW, I'm running on `node 0.12.0`. Also, it completely messes up my build directory, so I'm not able to run tests / run `ember server` afterwards until I `rm -rf dist tmp`.

[2015-05-11 02:50] jschilli commented on #57
@green-arrow and when you run it with `json` it completes correctly and writes the json output?

what version of ember-cli-blanket?

[2015-05-11 12:16] green-arrow commented on #57
@jschilli correct, when I run it with `json` everything works fine and I can see the correct json output.

`ember-cli-blanket 0.5.1`

[2015-05-11 12:38] jschilli commented on #57
bizarre - I can see that lcov-reporter isn't handling errors if coverageData comes back empty

to save us from guessing, can you alter `node_modules/ember-cli-blanket/lib/coverage-middleware` locally

after the line:
`    if (req.method === 'POST' && req.url === '/write-blanket-coverage') {`

add `console.dir(req.body);`

not sure if it's being called twice or mangling the data.

the client side d

[2015-05-11 12:43] green-arrow commented on #57
@jschilli this is super weird, I added that line and now I'm not getting the error anymore. Perhaps something went bad in my project. I nuked everything and pulled down a fresh copy and now the error is gone.

Appreciate the quick response!

[2015-05-11 13:01] jschilli commented on #57
closing for now - if you see it again we'll look at it - I've taken a note to improve error handling in lcov-reporter

[2015-05-11 13:01] #57 closed

[2015-05-12 14:49] sir-dunxalot opened #58 "Installation issues"
I installed with `ember install ember-cli-blanket` and ran into two issues:

1. The readme still has the deprecated `ember install:addon ember-cli-blanket` syntax
2. Running `ember install ember-cli-blanket` throws an error:

[code]

[2015-05-12 15:39] chrisvdp opened #59 "Add mocha support."
I noticed that qunit is hardcoded.

[2015-05-12 16:05] jschilli commented on #59
ember-cli-blankets supports both mocha and qunit - what are you referring to?

[2015-05-12 16:09] chrisvdp commented on #59
https://github.com/sglanzer/ember-cli-blanket/blob/master/index.js#L30

[2015-05-12 16:10] chrisvdp commented on #59
Seems to cause
[code]

[2015-05-12 16:37] jschilli commented on #59
hmm, not sure how to get to qunit is hardcoded from that message.

sound more likely that blanket.js is not installed

does bower_components/blanket exist?

if not, could be tied to install issue

bower install —save-dev blanket

[2015-05-12 16:42] chrisvdp commented on #59
It does exist. When I changed https://github.com/sglanzer/ember-cli-blanket/blob/master/index.js#L30 to reference `dist/mocha/blanket-mocha.js` in the HEAD version of blanket (it hasn't been included in a release, but it looks like they haven't had a release in almost a year) the message goes away.

[2015-05-12 16:45] jschilli commented on #59
YMMV - I don’t even see that file in the standard blanket distro.

I use mocha and blanket all day

what version of blanket is installed?  I have 1.1.5

[2015-05-12 16:47] chrisvdp commented on #59
I can use blanket and mocha in the browser, the issue is trying to get reporter output in ci.

[2015-05-12 20:59] pedrokiefer commented on #33
:+1:

[2015-05-15 18:05] mitchlloyd commented on #58
Let it be known that the second issue is probably this bug in ember-cli:

https://github.com/ember-cli/ember-cli/pull/3846

[2015-05-15 22:40] ryanlabouve opened #60 "`ember test` hangs without running tests"
Steps to reproduce:

`ember new testapp && cd testapp`
`ember install ember-cli-blanket`
`ember test`

Then it will hang without running any tests:
![terminal_ _phantomjs_ _85x52_and_new_issue_ _sglanzer_ember-cli-blanket_and_slack_and_dashboard_ _develop__222_commits_](https://cloud.githubusercontent.com/assets/1318878/7662968/d8fae820-fb28-11e4-9ae6-ad2a45462e34.jpg)

I'm on OSX.

"ember-cli-bla

[2015-05-15 22:52] jkatsnelson commented on #60
I will second this.

I just upgraded an app to ember-cli 0.2.5. Tests are frozen because of blanket. Let me know when its patched so I can add blanket back to my project :-D

[2015-05-16 00:24] jschilli commented on #60
Would be helpful to know if blanket is running in the browser and only failing in ci mode.

[2015-05-16 00:41] ryanlabouve commented on #60
Not running in browser either. It has like, the window preview box and that's it. Screenshot attached.

![testapp_tests](https://cloud.githubusercontent.com/assets/1318878/7663949/49a0f6da-fb3a-11e4-9ec1-9c23bdadbc3f.jpg)

[2015-05-16 03:38] jschilli commented on #60
@sglanzer looks like qunit autostart toggle issue - must have been a flip-flop in the new release.

in the browser if I run `Qunit.start()` it starts and runs

not sure where that toggle is taking place.

I'll check mocha over the weekend

[2015-05-16 03:53] jschilli commented on #59
@chrisvdp I've just reconfirmed that ember-cli-blanket works with ember-mocha with the released version of blanket.

I'm happy to help with that config - given how ember-cli-blanket is tied into blanket and ember-mocha I don't have any interest in adding a 3rd config

closing for now

[2015-05-16 03:53] #59 closed

[2015-05-16 03:53] jschilli commented on #60
I upgraded one of my ember-cli-mocha projects to ember-cli 0.2.5 and all is fine. so this issue is isolated to qunit

[2015-05-16 05:33] elwayman02 commented on #60
Yea, I can confirm that 0.2.5 is broken with qunit...same behavior that @jschilli described, can bypass in the browser to run it.

[2015-05-17 19:42] elskwid commented on #60
Adding my voice, this is indeed an issue, my temporary workaround was to force the autostart to true in `tests/index.html` like this:

[code]

The two links in the reference show where there's some conflict with how the autostart is preserved. Since ember-cli-qunit defaults to true but this isn't reset until that timeout happens I feel like there's a timing issue. A quick check shows that ember-cl

[2015-05-18 11:51] DenizOkcu commented on #60
Thanks @elskwid for the workaround.

this commit breaks it for me:
https://github.com/ember-cli/ember-cli-qunit/commit/98c8d370d574adc4deb2ab438edd0d248b22155b

In the comments:

[2015-05-18 19:04] flyswatter commented on #17
Hey @stefpenner, how would you go about excluding ember-addons from build-time tooling like this?

[2015-05-18 19:04] flyswatter commented on #17
Hey @stefanpenner, how would you go about excluding ember-addons from build-time tooling like this?

[2015-05-18 19:09] stefanpenner commented on #17
maybe some module name pattern matching?

[2015-05-18 19:55] jschilli commented on #17
@flyswatter - have you tried the blanket-options.js file?

It's not a perfect answer but I use it in both addons and apps to keep the focus on the code under test:

[code]

in one of my apps I set loaderExclusions to:

[code]

the imperfectness comes in from the fact that addons have an addon part (which is present in the resulting app) and the app/* part which is blended by the broccoli build and

[2015-05-18 20:38] flyswatter commented on #17
@jschilli I have used the blanket-options, and like you say, it has some limitations, especially since the trees are merged before the filtering takes place.

I guess very specific exclusions is a solid short-term solution, but long-term it would be better if `ember-cli-blanket` didn't try to run coverage tests on included addons in the first place.

[2015-05-18 20:50] jschilli commented on #17
@flyswatter long term would be nice.  In the realistic term we don't have many options based on when and how blanket is being run.

One idea that I've had is to do the blanketing in the plugin in node land to help resolve the sourcemapping discrepancy that is compounded by blanketing in browser.

That said the issue of determining lineage of contributed code other than through pattern mapping will

[2015-05-18 20:51] flyswatter commented on #17
Yeah, looking closer at the regex filtering is actually enough for me, I agree this shouldn't be a high priority.

Thanks for your help all!

[2015-05-20 22:09] chrisvdp opened #61 "running ember test in ci with coverage enabled starts a process that doesn't exit"
When I try to run tests in ci mode with coverage enabled a process is started that never finishes. I get a file called `lcov.dat` that has coverage data in it. The xunit file is also generated when I ctrl+c the process.

Running on OSX 10.10.3, Node v0.12.1, phantomjs 1.9.16, ember-cli 0.2.3

I run `ember test -c ./testem.ci.json` where testem.ci.json is
[code]
my blanket-options.js is
[code]

[2015-05-20 22:11] jschilli commented on #61
Does it run cleanly without the “report_file” option?

We’re hooking into the blanket reporting output - not sure if we’ve tested with that combination.

[2015-05-20 22:19] chrisvdp commented on #61
Same problem without report_file

[2015-05-20 22:39] jschilli commented on #61
can you post `bower ls` and `npm ls` output?

I run much the same config (on ember-cli 0.2.3 with mocha) and haven't seen this.

Also running `DEBUG="*" ember test -c ./testem.ci.json` will show all of the comms between testem and ember middleware.

[2015-05-21 14:52] chrisvdp commented on #61
`bower ls`
[code]
`npm ls` warnings. I can attach the full tree, but it is crazy long.
[code]
`DEBUG="*" ember test -c ./testem.ci.json` finishes with
[code]

[2015-05-21 15:50] cah-briangantzler commented on #53
Can a tag be created for this? Currently my code is referencing the master branch and would like to not be doing that

[2015-05-21 16:32] jschilli commented on #53
@cah-briangantzler I would recommend cloning into your own repo and use a tag there.

@sglanzer manages the release/push to npm

[2015-05-22 13:17] jschilli commented on #61
@chrisvdp I'm stumped.  if you run ember test --server do the tests run to completion?

with ?coverage  without ?coverage query param

[2015-05-22 13:22] raido commented on #60
Please fix compatibility with ember-cli 0.2.5.

[2015-05-22 13:54] chrisvdp commented on #61
`ember test --server` and `ember test` run to completion
`ember test -c ./testem.ci.json` without the `?coverage` param also runs to completion.

[2015-05-22 13:55] chrisvdp commented on #61
Based on what I have seen the tests always run to completion, the problem is that something isn't exiting in ci mode with coverage. I get to this conclusion because I see valid output when I ctrl+c the process after letting it run for a while.

[2015-05-22 14:02] jschilli commented on #61
so if you were to run in the browser with ?coverage and watch the network tab in chrome - does the call to write-coverage-data come back with a 200?

are other middlewares in use via addons?

when DEBUG=* there is a list of addons registered.

given that we know ember-cli-blanket works in ci mode with mocha then the issue must be a specific interaction with another plugin.

if you can provide some

[2015-05-22 14:20] chrisvdp commented on #61
I ran phantom with `"phantomjs_debug_port": 5000` and found that it throws a 500 error. `Cannot read property 'map' of undefined`

![screen shot 2015-05-22 at 8 17 13 am](https://cloud.githubusercontent.com/assets/1924349/7772401/2c573384-005b-11e5-89b4-94b66fce4fcd.png)

---
What I wrote to answer your questions

1) A 200 does fire in chrome running with `ember test --server`
![screen shot 2015-0

[2015-05-22 14:24] chrisvdp commented on #61
stack trace of the map error.

[code]

[2015-05-22 14:28] jschilli commented on #61
I see that stack trace and can certainly put a check in for null coverage data coming back.

With that said, the refererer in the chrome case shows ?coverage whereas the example that returns 500 coverage was not turned on.

not sure what the difference is in invocation.

[2015-05-22 14:35] chrisvdp commented on #61
Yes, you are right. Just a byproduct of playing with the configs. With coverage in phantomjs I do get a 200.
![screen shot 2015-05-22 at 8 33 22 am](https://cloud.githubusercontent.com/assets/1924349/7772774/80ceedec-005d-11e5-8ebc-f495241c32a7.png)

[2015-05-22 14:45] chrisvdp commented on #61
Another interesting bit from that output is `{"suites":305,"tests":481,"passes":0,"pending":-9,"failures":490,"start":"2015-05-22T14:30:10.096Z","end":"2015-05-22T14:32:57.576Z"}`

[2015-05-22 14:58] jschilli commented on #61
yeah, something’s borked there.

without a repo to repro in I’m just guessing.

[2015-05-22 18:52] givanse commented on #58
`0.2.5` was released mainly because of this bug

[2015-05-22 19:23] sir-dunxalot commented on #58
Ok, great. I'll close this.

[2015-05-22 19:23] #58 closed

[2015-05-22 20:31] givanse commented on #61
I just ran into the same `TypeError: Cannot read property 'map' of undefined`.

I have a repo that you can play with.

    git clone -b cant-read-map git@github.com:givanse/mvc-tree.git

[2015-05-22 20:39] jschilli commented on #61
I'll have a look. May be early next week. Thx

-jeff

[2015-05-22 20:49] givanse commented on #61
So, I just "solved it". I was messing with the app name and ended up with a few mismatches. After correcting that, coverage worked fine again.

files to check:
* bower.json
* package.json
* config/environment.js
* tests/blanket-options.js
* app/index.html
* tests/index.html

[2015-05-22 21:37] givanse opened #63 "lcov.dat incompatible with codeclimate-test-reporter"
...TOKEN=... codeclimate < lcov.dat

fails with:

    ENOENT, no such file or directory

Its a matter of just moving up one level in the folders hierarchy and it will find the directory.

    ...TOKEN=... codeclimate < app-folder/lcov.dat

Also, all the entries in `lcov.dat` reference folders only and it results in:

    EISDIR, illegal operation on a directory

So, codeclimate is expecting an ent

[2015-05-23 15:51] glanzerd commented on #60
I'll work on this today - sorry for the delay

[2015-05-23 15:52] sglanzer commented on #60
I'll work on this today - sorry for the delay

[2015-05-24 03:49] sglanzer commented on #60
We're actually respecting the autostart options, however blanket itself sets Qunit autostart to false, so we're respecting that...which means that the tests don't start...

Basically unless we can get an update to blanket that also respects the autostart options the only solution I can come up with is to go back to forcing autostart to true when the coverage is done loading.

For reference, in the

[2015-05-24 09:59] jschilli commented on #60
I think that is a reasonable option to get us back in business.

A more robust option would be for ember-qunit to add a callback mechanism for interested parties to get called prior to calling start.

This would give us the opportunity to do the blanketing and not be responsible for starting qunit at all

-jeff

[2015-05-25 03:23] sglanzer commented on #60
Released 0.5.2 to address this - the blanket-options now includes an autostart option (defaulting to true) to control the QUnit.config.autostart behavior after instrumentation is complete.  I've tested this in my projects, but I'd appreciate some additional confirmation before closing.

[2015-05-25 04:44] givanse commented on #60
Just upgraded, everything went well, thanks.

[2015-05-25 05:57] raido commented on #60
I have something weird going on:

[code]

Line logs error: Cannot read property 'autostart' of undefined - i just installed ember-cli-blanket with "ember install ember-cli-blanket" command. I checked the version, it is 0.5.2.

I debugged this and ```blanket.options('cliOptions')``` is undefined.

Probably some not related to this issue.

[2015-05-25 11:05] sglanzer commented on #60
@raido Thanks, I'll look into it - I did test a fresh install, but I also ran ember generate ember-cli-blanket.  Anyhow, I'll probably just add a null check and default to true.

[2015-05-25 11:18] raido commented on #60
Fresh install worked fine for me too. But for my current project it fails. Null check does not fix it, then you would end up with moduleLoaderFinish is not defined error  in end of the test run.

[2015-05-25 11:56] sglanzer commented on #60
Thanks for the investigation - can you please raise this as a new issue so that we can track the solution separately?

[2015-05-25 12:02] raido opened #65 "Fails to load when output paths have been overridden in Brocfile"
Continuing discussion from #60

Fresh install worked fine for me too. But for my current project it fails. Null check does not fix it, then you would end up with moduleLoaderFinish is not defined error in end of the test run.

Edit: I figured out what is causing it to fail:

I have overriden outputPaths in the Brocfile:

[code]

This needs to be made compatible with overridden paths.

[2015-05-25 12:19] raido commented on #65
I investigated this a bit more, because outputPaths are overridden, the blueprint generation does not find the <script> tag for the "appname.js" from tests/index.html, thus does not append "blanket-options.js" and "blanket-loader.js" to the file and failing to run.

Installations successfully adds <style> tag but <script> tags are not added, thus running blueprint generation makes it work.

[2015-05-25 18:30] jrjohnson commented on #63
I'm having this problem as well and I'm not sure where to start debugging.  I can't seem to find a file standard reference for lcov to see what this is supposed to look like.  Seems to be obscured on google by a linux utility for visualizing gcov data.  Anyone have a pointer to how lcov is supposed to work?

[2015-05-25 18:59] jschilli commented on #63
There are lots of caveats around lcov coverage as discussed here: https://github.com/sglanzer/ember-cli-blanket/pull/38#issuecomment-88476342 <https://github.com/sglanzer/ember-cli-blanket/pull/38#issuecomment-88476342> and in the release notes.

I’m not sure what code-climate is needing.  Somewhere in that thread there is a ref to lcov file format.

In short, the lcov reporting is on AMD modules

[2015-05-26 04:41] jrjohnson commented on #63
Ah -Thanks, I was i the right place, just had to actually read.  The format for the file is described here: http://ltp.sourceforge.net/coverage/lcov/geninfo.1.php under the FILES heading.

I completely understand that the transpile process for ES6 + any babeljs changes is going to make this hard to use effectively, however I think that even the data as is will provide me with coverage metrics that

[2015-05-26 06:17] jrjohnson commented on #63
I think this issue exists in two parts:

1) Codeclimate parses the lcov file for path entries to files.  Some files do not exist in the source, they come from addons during the broccoli build.  [for example: todomvc-ember-cli/initializers/app-version from the fixture test file](https://github.com/sglanzer/ember-cli-blanket/blob/master/tests/fixtures/lcov.dat#L23) I put in a [PR with code igniter](

[2015-05-26 10:39] jschilli commented on #63
I think a reasonable option would be to have a renamer option in the `lcovOptions`. It could be a Boolean that defaults to false or a function that given a module reference returns the name to output.

I would suggest that default behavior remains as is.

I'm in the air ATM but there is an ember-cli issue that goes to normalizing module references to match the file system. I'll need to dig that up

[2015-05-26 14:40] chrisvdp commented on #61
**Update** I spent most of yesterday debugging this. Findings were that tests hung upon running any integration/acceptance test. I tried to init a (new ember-cli project)[https://github.com/chrisvdp/ember-test-blanket-integration] to recreate it, but was unable to. If running with `ember test --server` the tests should run and the results should be displayed with the coverage results below, In the

[2015-05-26 14:41] chrisvdp commented on #61
PS. Thanks for all the help @jschilli !! :balloon:

[2015-05-26 15:09] hjdivad commented on #60
@sglanzer getting this fixed upstream seems like the right thing to do medium term.

For the short term, do you have an opportunity to read the user-value of `autostart` before blanket writes to it?

[2015-05-27 03:23] jrjohnson commented on #63
Seems like a good set of options to me.  A function that can process the name would work well.
I spent some time looking at the [ember-resolver](https://github.com/ember-cli/ember-resolver) and I don't see a way to go from a resolved module name back to a file system path.  Once you have your feet on the ground let me know if you have a link to somewhere that does this already, or if its something

[2015-05-27 10:54] jschilli commented on #63
@jrjohnson you didn't see my hand waving vigorously in the air while describing the mythical renamer function :-)  It doesn't exist as a single entity b/c the ember-resolver manufactures the output module name.  In the case you mentioned above if the renamer is passed `APP_NAME/router` you would return `app/router.js`.

WRT to being in lcovOptions vs cliOptions I would suggest lcovOptions to start

[2015-05-29 07:01] avdv commented on #65
I also faced this problem. Duplicate of #52

[2015-06-01 09:58] avdv opened #68 "Coverage not written when using `ember serve`"
When using `ember serve` and running the tests in the browser, I receive an error in the console (I'm proxying requests to an upstream server):

[code]

Apparently, the coverage middleware does not get started in this mode, only when it is run via testem, ie. when running `ember test`.

Does it make sense to make ember-cli-blanket a serverMiddleware so that is also started with `ember serve`?

[2015-06-01 12:19] jschilli commented on #68
@avdv I removed coverage for serverMiddleware in https://github.com/sglanzer/ember-cli-blanket/commit/9b63dfd3dbf6a469fca3cf810630536d7062ee71

that was an expedient fix to #53  and #46

I'm open to bringing it back as I agree with having the ability to write it from `ember serve` as well.

interested in PR'ing that?

[2015-06-01 13:46] avdv commented on #68
Sure, seems easy enough: reverting 9b63dfd will probably do it.

[2015-06-02 13:06] #68 closed

[2015-06-11 03:49] elwayman02 commented on #63
Does anyone have any thoughts on the lcov report including tests for the addons, which ends up with files that don't "exist" in the repo where they are supposed to?  This is still a blocker to being able to use codeclimate.

P.S. The suggested renamer method doesn't quite work, because my lcov report included config/environment.js, which does not live under the app/ directory.  I had to do somethi

[2015-06-11 04:25] jrjohnson commented on #63
I put in a PR to codeclimate to ignore the lines for files that don't exist.  If you need this behavior maybe a comment on https://github.com/codeclimate/javascript-test-reporter/pull/20 will speed things up.

You're correct that if you want to parse the config file as part of the tested paths you would want to change it as well, I didn't want the README option to be too complicated and figured th

[2015-06-11 17:06] amokan commented on #63
not a great workaround, but i run a quick ruby shell script post build in my CI process to fix the formatting for code-climate. Been working well for weeks now. But a fix to `ember-cli-blanket` would obviously be nice.

Either way, if someone wants the ruby script I'm using - you can find it here: https://gist.github.com/amokan/a30afe721ea225a34437

[2015-06-11 17:20] elwayman02 commented on #63
@amokan the master branch has a new feature (see the README) that does this for you as part of ember-cli-blanket.

[2015-06-12 00:13] amokan commented on #63
@elwayman02 thanks man. Will check it out.

[2015-06-24 20:51] NullVoxPopuli commented on #61
you can reproduce in this repo: https://github.com/NullVoxPopuli/aeonvera-ui

:-(

[2015-06-27 07:30] ryanlabouve commented on #63
On my CI server I had to install the reporter from github `npm install -g git+https://github.com/codeclimate/javascript-test-reporter.git`... guess this will be resolved once they do a new release to NPM?

My coverage is reporting now though! Thanks @jrjohnson for that PR to codeclimate!

[2015-06-27 16:56] jrjohnson commented on #63
Yes, the PR is merged and they promised me a release on twitter last week.  I will bug them again in a few days.  You can actually add the github directly into your package.json like:
```"codeclimate-test-reporter": "codeclimate/javascript-test-reporter#master"```

If you want access to this before  a release.

[2015-06-27 21:49] ryanlabouve commented on #63
:+1: Thanks! Will do.

[2015-06-30 19:27] vitapluvia opened #71 "Logging Error object [object Object] when running with --server"
Looks like the runner is logging out and error object from the vendor file when I run my tests.  Not sure if this is happening for others, but it's occurring here:
https://github.com/sglanzer/ember-cli-blanket/blob/master/vendor/blanket-require.js#L96

It needs to be changed from console.log(err) to console.log(err.stack) or something similar.
Not sure if this is ember-cli-blanket or the vendor li

[2015-07-03 00:24] sglanzer commented on #29
Looks like a new version of blanket was published in late May (1.1.7) that should include the fix for this.  I'll try to find some time this weekend to do an upgrade and test to see if this is resolved.

[2015-07-03 00:46] sglanzer commented on #63
@jrjohnson Every time I see your name pop up in my email I think of this https://www.youtube.com/watch?v=6hRXxnTue5w =)

Anyhow, when code climate publishes can someone respond here so we can close this off (I'm assuming there isn't any outstanding work to be done against ember-cli-blanket for this)?

[2015-07-03 06:10] jrjohnson commented on #63
Nice.  I'm going to use that for my walkup music!

Code climate published 0.1.0 which has this fix.  I'm having some trouble verifying if it works because of a sporadic problem generating the lcov file I'm having in my app.  Since thats taking a long time to track down maybe someone else can validate?  Otherwise I think this is probably working and can be closed.

[2015-07-07 02:19] jrjohnson commented on #63
@sglanzer I can confirm that I'm now generating lcov data and passing it to code climate for consumption with the released versions of code-climate-test-reporter and ember-cli-blanket.  This can be closed.

[2015-07-07 02:31] givanse commented on #63
Thank you :clap: :fireworks:

[2015-07-07 02:31] #63 closed

[2015-07-16 18:35] gone opened #74 "Lcov reporter includes library coverage"
EG:

[code]

Written out for the base ember object controller. I can't export the coverage data into coveralls w/ the missing files included.

Possible solution could be something like renamer that lets you control if the file output is written to the report - I could test for the presence of the file on the hd?

[2015-07-23 16:21] jagthedrummer commented on #33
I'm running into the same issue. I'd love to help out if you have any work in progress on this, @jschilli.

[2015-07-23 17:11] mheisig commented on #65
Isn't this how the rest of Ember CLI works? If you added custom outputPaths to your Brocfile you would have to make the corresponding path updates to the project index.html

[2015-07-23 17:22] jagthedrummer opened #75 "Problems with ember-cli-blanket + ember-cli-mirage"
I've followed the instructions in the README about setting up the passthrough for mirage in the config file. When I do that my tests all run fine, but then the very last one fails with this error:

[code]

The failure only happens in the command line runner. In the browser everything works as expected, so I don't have a way to inspect those objects to see what is being logged.

This is in the test

[2015-07-23 18:14] jschilli commented on #75
if you turn off the coverage flag for the CLI runner does the error occur?

[2015-07-23 20:28] jagthedrummer commented on #75
When I turn off the coverage flag the error does not occur, and the test runner reports only 27 tests. So it seems weird that it's failing out on a 28th test with the coverage flag enabled.

[2015-07-24 06:11] avdv commented on #65
Yes, of course. And that's what we did.

But the point is, after changing the location of a file and then trying to install an addon, the addon should be able to find the file - because it should examine the Ember-CLI specific output path setting and not simply hard-code the name or location of the file.

What good is a setting if you cannot ever change it because everything breaks afterward?!

[2015-07-24 11:22] sglanzer commented on #65
Sorry for the frustration, but I have very limited time to work on this project currently.  If you want to submit a pull request, it seems like you already have most of the details necessary for the fix and I'd be happy to merge it.

[2015-07-24 15:41] mheisig commented on #65
Maybe I'm missing something in Ember CLI generally, but if you change the outputPath in the Brocfile, don't you have to manually update the app/index.html with the new paths? In other words, this add-on isn't doing anything different than what Ember CLI does from what I can tell.

I agree it would be great to have the asset paths be dynamic in all cases, but after poking around a bit I'm not sure

[2015-07-27 14:56] knownasilya opened #76 "Runs prematurely when using with Travis"
https://travis-ci.org/knownasilya/google-maps-markup/jobs/72847801#L397

Seems like it runs before the tests are finished. Not sure what's wrong with my setup.

[2015-07-31 21:16] djvoa12 opened #77 "full test runs do not generate coverage.json"
Test coverage output file (coverage.json) appears to generate itself only after I choose a particular test module, not after all the tests have run.

The result is the same in both scenarios:
- Development Env (http://localhost:4200/tests)
  - I check `Enable coverage`
  - All tests run to completion but no output file
  - If I chose a particular test, it runs that test and then output file gets c

[2015-08-04 18:25] kkumler commented on #74
A similar solution was done for the CodeClimate test reporter: https://github.com/codeclimate/javascript-test-reporter/commit/9c9dd63c5ed32c37053a2dee3264c647e1e51e0c
So, you could use possibly use renamer to exclude them, or modify the code that is sending the data to Coveralls.

[2015-08-05 06:47] selvaa89 opened #78 "Addon code is included in the App's test coverage"
When the coverage report is generated for an application, the code exported by any addon into the app's namespace(The code in the app folder of the addon) is also included which brings down the overall test coverage.

Is it possible to exclude them?

[2015-08-05 10:38] jschilli commented on #78
see the discussion in #17.  Gonna close this as a duplicate.  No easy answer given the current architecture.

[2015-08-05 10:38] #78 closed

[2015-08-11 20:25] kkumler commented on #77
@djvoa12 Are you still experiencing this? I may have just hit the same thing, but have not started digging deeper yet.

[2015-08-12 22:36] djvoa12 commented on #77
@kkumler I think so.

@twokul I was removed from this for a bit.  Were you able to find anything in the meantime?

[2015-08-18 12:59] mauricioac commented on #77
In my case, after running the tests, a network request is made to write the coverage file. And I'm getting

[code]

[code]

Hope this helps in fixing this error

[2015-08-18 13:28] mauricioac commented on #77
Was navigating the source code on master, and saw an unreleased commit to increase body parser to 50mb. Tested it locally and works. BUT, I see another issue, where it doesn't generate file for both json and lcov, just for the first one in the config.

[2015-08-24 06:17] karri-sek commented on #77
Hi did you get any solution on this issue. Currently I am experiencing this error "request entity too large". This is the request payload
" fileData: [{fileName: "studio/app",…}, {fileName: "studio/config/environment",…},…]
stats: {suites: 1, tests: 6, passes: 6, pending: 0, failures: 0, start: "2015-08-24T06:04:40.923Z",…}"
Where fileData contains huge amount of data. Don't know how to fiter this

[2015-08-24 11:01] mauricioac commented on #77
@karri-sek Use master version for now, should work fine

[2015-08-25 11:59] karri-sek commented on #77
Thanks that's working.. When can I expect a release with this change?

[2015-08-25 13:03] sglanzer commented on #77
Sorry for the delay on the release, slightly swamped - I'll publish today.

[2015-08-25 13:16] sglanzer commented on #77
Published 0.5.4

[2015-08-25 13:16] jschilli commented on #77
Thanks @slganzer

[2015-08-25 14:43] mauricioac commented on #77
Thanks :+1:

[2015-09-15 19:12] ryanlabouve commented on #60
Are we able to close this issue now? This has been resolved for me.

[2015-09-17 17:45] notmessenger opened #82 "Not all of the commands in the blueprint are being ran"
The only step in the blueprint (blueprints/ember-cli-blanket/index.js) that gets ran is the `this.addBowerPackageToProject` call.  The other steps were not ran for me in multiple test installs.  My version of Ember CLI is 1.13.8.

[2015-09-18 13:52] notmessenger opened #84 "JSHint runs when coverage is enabled"
Initial `test_page` url in `testem.json`: `"tests/index.html?hidepassed&nojshint"`

Running `ember test` completes without any JSHint tests having been ran.

Add `coverage` in any inclusion order in the `test_page` url and JSHint tests are now ran, even though `nojshint` remains set.

This problem seems related to https://github.com/sglanzer/ember-cli-blanket/issues/16

[2015-09-18 15:22] notmessenger opened #85 "require.unsee is not exposed in custom require function"
Causes the error of "unable to require.unsee, please upgrade loader.js to >= v3.3.0" to be thrown in the console.  See https://github.com/ember-cli/ember-cli-test-loader/issues/15#issuecomment-141466093

[2015-09-19 00:31] pixelhandler opened #86 "Reports stopped working nothing is output running ember test"
My options file is here: https://github.com/pixelhandler/ember-jsonapi-resources/blob/master/tests/blanket-options.js

After I tag each release I run ember test then push the lcov.dat report up to code climate. my project is usually at 90-95% coverage, after I pushed it was at 27%. seems like it never finished writing the report.

So I deleted the lcov.dat file and ran ember test again but no file

[2015-09-19 13:04] jschilli commented on #86
I'm able to recreate this with your repo - will try to dig in to figure out where breakage is (and improve diagnostics) - might be a few days :-(

[2015-09-19 13:12] jschilli commented on #86
@pixelhandler If i .skip https://github.com/pixelhandler/ember-jsonapi-resources/compare/0.6.3...0.6.4#diff-e16d0508d82b53099bba5c4e58a82075R11 the lcov.dat is written.

I use sinon in my mocha test projects with no ill effects but haven't used the `sandbox` stuff.

It's possible that sandbox is mucking with the junit hooks - what I can tell is that when running 0.6.4 as is the POST with the cover

[2015-09-21 14:06] lolmaus opened #87 "Could not find module `ember-sinon/acceptance-tests/sinon` imported from `exam-sim-ember/acceptance-tests/sinon"
Got both ember-cli-blanket and ember-sinon in my project.

Blanket complains in browser console during tests:

Steps to reproduce:

[code]

Then go to http://localhost:4200/tests/ , enable coverage and look into the console.

[Response](https://github.com/csantero/ember-sinon/issues/20#issuecomment-141991451) from @csantero, the maintainer of ember-sinon:

[2015-09-22 03:18] wireframe opened #89 "add configuration to fail "ember test" if coverage is below threshold"
similar to grunt-blanket-qunit project but baked into ember-cli-blanket
https://github.com/ModelN/grunt-blanket-qunit

[2015-09-22 17:23] pixelhandler commented on #86
I think since i added a fake xhr in my test it blocks the request to write the report - so I can only mock specific requests, not all requests (allow /write-blanket-coverage to still work with XHR)

[2015-09-22 19:25] #86 closed

[2015-09-24 21:12] elwayman02 commented on #85
@sglanzer any thoughts on this?

[2015-09-24 21:18] jschilli commented on #85
@elwayman02 have you tried require.unsee = savedRequire.unsee - I suppose we should look at a cleaner proxy on require.

I'm slammed and don't have near term bandwidth to look @ it but PRs or pointers welcome

[2015-09-24 21:19] elwayman02 commented on #85
Yea I don't have time to look at it this week at the very least...just heard about it from someone else and it affects stuff I'm working on so I wanted to see if there was any traction here.

[2015-09-26 04:46] sglanzer commented on #89
Cool idea for sure, flagging this as a feature request

[2015-09-26 04:51] sglanzer commented on #85
We could definitely do some work on a cleaner require proxy - I'm going to do some work on this project again over the next few weeks.

I can dig around the links for steps to reproduce, but if anyone has time to document steps it would be a big help.

[2015-09-26 04:54] sglanzer commented on #84
Some investigation into what the nojshint flag does would be useful - my first guess would be that it excludes certain modules from the tests, whereas the coverage includes all modules.  If that's the case it should be simple enough to pay attention to the nojshint flag and exclude those modules from being loaded by the coverage.

[2015-09-26 04:56] sglanzer commented on #82
Hmm, we're definitely behind on the ember-cli version (there is a PR for this), but I've been working with the same hooks for another cli based project in 1.13.8, so they should still be legitimate.

I'll poke into this and see if the promise chain is being broken after the CLI upgrade PR is merged.

[2015-09-26 05:00] sglanzer commented on #77
Does anyone have an idea of what the largest coverage files being written are?  50mb seems pretty huge, but I'd like to know if we need a game plan to address any future issues relate to this.

Either way it appears this can be closed, just  wondering if I should open another issue to come up with a better method of transmitting the payload (maybe chunked)?

[2015-09-26 05:02] sglanzer commented on #75
@jagthedrummer I know this is an older issue, but are you still experiencing this and if so, would you be able to provide steps to reproduce on a new addon project?

[2015-09-26 05:12] sglanzer commented on #33
I'll be putting in some work on this over the next few weeks - do any of you have prior work you would like to share?

[2015-09-26 05:15] sglanzer commented on #17
I may have some ideas on this - I need to do some prototype work and I'll update afterward.

[2015-09-26 06:08] flyswatter commented on #17
Cool!  Look forward to seeing how you do it!

[2015-10-01 03:38] sglanzer commented on #17
I spent some time poking at this on the weekend and it's definitely nastier than I thought going in.  The only effective strategy I've found so far is processing treeForApp on a per addon basis and capturing the output to use in coverage loader exclusions.  This approach is obviously a non-starter, but I think it clarifies what we need to make this work.

I believe the next step would be to look a

[2015-10-01 13:21] sglanzer commented on #17
Thinking about this with a clearer head, it makes more sense to whitelist the modules in the current addon/app than to attempt to blacklist addons.  I'll explore that idea a bit - it also wouldn't require changes to ember-cli

[2015-10-01 14:18] jschilli commented on #17
I think the issue is that there are two kinds of content that emerge from an addon - the app content and the addon content - the addon content is definitely namespaced and should be excluded.

By the time we see the code, the app content is already assimilated and there is no way that I know of to determine if it came from the consuming app or was contributed by an addon's app exports

I recall wo

[2015-10-02 02:55] sglanzer commented on #17
Yeah, absolutely - that's why I think we'll need our own file structure sweep, and the whitelist appears to be the best bet currently - far less to manage than a nested addon blacklist/exclusion.

I need a solution to this soon, so I'll try to put an effort out on the weekend

[2015-10-08 14:28] notmessenger commented on #85
You can run the EmberCli-1.13.8 branch of https://github.com/softlayer/sl-ember-components to replicate the error.

[2015-10-08 17:13] danny-andrews commented on #87
Can confirm: getting same console error in my project.

[2015-10-08 20:18] elwayman02 commented on #17
:+1: looking forward to seeing some progress on this, thanks!

[2015-10-09 03:47] sglanzer commented on #85
I haven't seen this in any of my addons, but I'll find some time to look
into this after finishing the addon exclusions work.

On Thu, Oct 8, 2015 at 10:28 AM, Jeremy Brown <notifications@github.com>
wrote:

[2015-10-12 22:58] svkangal opened #94 "Getting this error when I dont have any tests at all."
TypeError: Cannot call method &#39;map&#39; of undefined<br> &nbsp; &nbsp;at Reporter.module.exports.Reporter.extend.transform (/Users/sk/screwdriver/node_modules/ember-cli-blanket/lib/reporters/lcov-reporter.js:40:38)<br> &nbsp; &nbsp;at Reporter.report (/Users/sk/screwdriver/node_modules/ember-cli-blanket/lib/reporter.js:51:21)<br> &nbsp; &nbsp;at /Users/sk/screwdriver/node_modules/ember-cli-bla

[2015-10-13 00:24] sglanzer commented on #94
I haven't tested this, but it looks like the coverageData is probably coming back empty (because of no tests) and we're expecting at least one file to be covered.  I assume the error disappears if at least one test is run?

We can absolutely add code to guard against empty data.

[2015-10-13 00:32] svkangal commented on #94
Yes Indeed works fine with at least one test case. :+1:

[2015-10-21 00:47] svkangal opened #96 "Making it work with Ember-Addon"
Does this work with an ember-add-on project? Right now I have everything configured, but it doesn't seem to pick up the coverage.

[2015-10-21 00:59] jschilli commented on #96
We use it all the time.

Note the module prefix and filter setup

[code]

[2015-10-21 01:10] svkangal commented on #96
I have set it up and it does show some coverage even though I dont have any tests. Also after adding some tests it doesn't update either.
<img width="1440" alt="screen shot 2015-10-20 at 6 08 31 pm" src="https://cloud.githubusercontent.com/assets/2807160/10625238/e388448c-7755-11e5-8192-20f809c0c48f.png">

[2015-10-21 05:19] svkangal commented on #96
Got it to work in browser but having issues on console ember test

Future versions of Ember CLI will not support v0.10.26. Please update to Node 0.12 or io.js.
version: 1.13.8
Built project successfully. Stored in "/Users/skangal/treevis/tmp/class-tests_dist-KpqDQQye.tmp".
not ok 1 PhantomJS 1.9 - Acceptance | options tab: check if options tab exists
    ---
        actual: >
            false

[2015-10-21 05:39] svkangal commented on #96
I think I figured out the issue.. related to PhantomJS and polyfill

[2015-10-21 05:39] #96 closed

[2015-11-05 22:06] twokul commented on #77
@sglanzer this is still an issue :confused: the problem is somewhere in express middleware, post to `/write-coverage-data` happens but never gets handled hence the file is not created. I haven't seen the error above though (request entity too large). our app has around 600 tests which shouldn't be that big of a deal.

[2015-11-06 02:21] twokul commented on #77
turned out it was a bug in my tests. works perfectly now. thanks much for all the work :heart:

[2015-11-20 22:15] clairegrimmett opened #97 "Error using ember-cli-blanket with ember-cli 1.13.12"
Getting the following after upgrading to ember-cli 1.13.12
Error: ENOENT, no such file or directory '/[...]/tmp/funnel-input_base_path-ynjilZ3W.tmp/0/assets/test-loader.js'

[2015-11-20 22:16] jschilli commented on #97
@clairegrimmett did you rm -rf tmp?

[2015-11-20 22:19] clairegrimmett commented on #97
I did.

[2015-11-20 22:25] jschilli commented on #97
test-loader.js comes from ember-cli-test-loader (not related to ember-cli-blanket)

did you update your bower.json to the newer ember-cli-test-loader?

https://github.com/twokul/ember-cli-release-notes/blob/1cee41eb91bf7c534917fdd4cd42a1cd1a481c75/1.13.9/app/bower.json#L6

[2015-11-20 22:38] clairegrimmett commented on #97
I have the latest version of ember-cli-test-loader. Not having any problems with the test-loader itself, the only time it has an issue is when i try to install ember-cli-blanket and run 'ember test'. Is it working for you with 1.13.12?

[2015-11-20 22:40] jschilli commented on #97
I’m running it in an addon project with 1.13.13

no problems

[2015-11-20 23:41] sfbwalder commented on #17
:+1:  I ran into this today when I included ember-truth-helpers - suddenly many new modules under /app-name/helpers/ were included in the code coverage that had no coverage.  Filtering them out individually with either antifilter of loaderExclusions makes a long list.

So, we would like to see this also, but we do understand it is a difficult problem since knowing what app content the add-on added

[2015-11-24 19:58] sfbwalder commented on #89
:+1:

[2015-11-24 19:59] sfbwalder commented on #82
:+1:  Getting the same thing!

[2015-11-26 00:11] pixelhandler commented on #85
I'm seeing this error in my addon also test coverage report drastically changed from 93% to 16% seems inaccurate. I did upgrade from ember-cli 1.13.8 to 1.13.13. that's when I noticed this `unable to require.unsee, please upgrade loader.js to >= v3.3.0` when running `ember t -s`

[2015-11-26 03:26] clairegrimmett commented on #97
Thanks @jschilli I managed to figure it out - it was due to our somewhat unconventional app structure that combines multiple apps into one, it was running the ember-cli-blanket postprocessTree hook more than once, which I guess used to work with 1.13.8 but now fails.

[2015-11-26 03:26] #97 closed

[2015-11-27 10:23] avdv commented on #85
That's exactly what I was doing, too. Same problem here.

That seems to work, thanks @jschilli.

[2015-12-08 12:01] jschilli commented on #77
closing per last comment

[2015-12-08 12:01] #77 closed

[2015-12-08 13:41] jschilli opened #98 "silent error when JSON.stringify fails"
the babel polyfill monkeypatches JSON.stringify.  deserializing the coverage data bombs with no POST and no error written to console/thrown

[2015-12-10 23:30] offirgolan opened #100 "Coverage in addon files not working in ember-cli 1.13.13"
In ember-cli 1.13.12, I had ~95% coverage but once I upgrade to ember-cli 1.13.13, it dropped to ~50% with no other changes. What I noticed, is that all lines in my addon tests were red, but tests for files in my dummy app were working fine.

Coverage: https://codeclimate.com/github/offirgolan/ember-cp-validations/coverage
Code Climate Feed: https://codeclimate.com/github/offirgolan/ember-cp-valid

[2015-12-11 00:23] sglanzer commented on #100
I noticed this yesterday as well after upgrading a number of addon repositories to 1.13.13 - I originally thought my code was at fault, but that wasn't the case (I stepped through line by line and everything was being executed).

My current theory is that it's somehow related to this change https://github.com/twokul/ember-cli-release-notes/commit/bd5ac542c0d6dd8e095553d6528ec40ae4be6b4e, but it's

[2015-12-11 01:22] sglanzer commented on #100
Doesn't appear to be that theory - looking into ember-cli-test-loader now

[2015-12-11 01:24] offirgolan commented on #100
:+1: thanks for looking into this!

[2015-12-11 01:26] sglanzer commented on #100
No problem, was causing me headaches as well

[2015-12-11 01:29] sglanzer commented on #100
I built a simple addon project and debugged the coverage - during the debugging it appears that the tests have already executed before the instrumentation is done.

![image](https://cloud.githubusercontent.com/assets/9026198/11733556/9c9cb77a-9f7c-11e5-8418-f65e9ef225b1.png)

So it looks like the test runner isn't being delayed.  Gotta dredge up some old junk from my brain to remember what to do a

[2015-12-11 01:32] offirgolan commented on #100
Interesting... how come it worked for tests in dummy/* but not for tests on file in addon/*?

[2015-12-11 01:34] sglanzer commented on #100
Just a theory again, but there is the split between loading the app and the tests - probably plays a role in this.  From the tests/index.html:

[code]

I've tried changing order, but no luck so far

[2015-12-11 01:37] sglanzer commented on #100
As far as I can tell the only parts of the addon files that are "covered" are the loading of the module itself - the rest of the code has already been executed by the time the coverage lines are put in place.

[2015-12-11 01:59] jschilli commented on #100
I'll try this in a mocha project tomorrow. I have one or two addons that are 1.13.13 and don't recall seeing this

-jeff

[2015-12-11 02:21] sglanzer commented on #100
I'm running all of my addons with mocha currently and the test project I just put together was qunit - it's happening in both unfortunately.

[2015-12-11 02:40] sglanzer commented on #100
I turned autostart off to observe require order - all tests and jshints are required and instrumented prior to the start being called, then when the tests are running the dependencies are required and instrumented.  It appears at this point the instrumentation happens after the test is run.  I can't recall how this worked before so I'm going to set up a 1.13.8 addon and run the same sequence.

[2015-12-11 02:55] sglanzer commented on #100
1.13.8 results:

1. Same behavior for loading tests and jshints
2. Tests load dependencies during execution and **wait for instrumentation before proceeding**
3. Coverage works as expected

![image](https://cloud.githubusercontent.com/assets/9026198/11734820/a341387e-9f88-11e5-8b22-d86eec55c322.png)

So at this point we have a handle on what the issue is at least.

I have to take off for tonight,

[2015-12-11 02:56] sglanzer commented on #100
The difference to note would be between the 1.13.13 screenshot and 1.13.8 screenshot in terms of the test execution.

[2015-12-11 04:59] jschilli commented on #100
I got some debugging in on @offirgolan's project.  The regression was introduced in loader.js (https://github.com/ember-cli/loader.js/commits/master) between 3.3.0 and 3.4.0

There was a fairly substantial refactoring internally - my suspicion is that the 'global' require that we're patching is now shrouded for certain code paths.

There was an error message reported in #85 that I cleaned up when

[2015-12-11 05:25] jschilli commented on #100
I think it's this line: https://github.com/ember-cli/loader.js/pull/54/files#diff-73f82623658278cf03c2acf12426f916R86

loader.js is using findModule internally to resolve 'defined' modules - it used to read

[code]
and now does:
[code]

still not sure what to do about it but naively replacing that line with

[code]

puts the coverage back to > 94%

cc: @stefanpenner - any thoughts on making our re

[2015-12-11 10:27] stefanpenner commented on #100
do you guys just need to intercept all requires??

[2015-12-11 11:39] jschilli commented on #100
Yes and the `import` equivalents. At least on the first time seen.  We annotate the imported code with coverage probes before returning the resolved/required code

[2015-12-11 15:04] stefanpenner commented on #100
@jschilli can you link me to where that is done currently?

[2015-12-11 15:05] jschilli commented on #100
https://github.com/sglanzer/ember-cli-blanket/blob/master/vendor/blanket-require.js#L74 @stefanpenner

[2015-12-11 15:09] sglanzer commented on #100
Try not to freak out at the ugly dependency code =)

[2015-12-14 01:57] #98 closed

[2015-12-14 11:41] bmeurant opened #101 "Documentation : Single Run command"
The single run command from the README file (``ember test --test-page='tests/index.html?coverage'``) does not work for me with ember-cli 1.13.13.

I tried with ths command instead : ``ember test --test_page=tests/index.html?coverage`` and everything is ok. (Note usage of `_` instead of `-` and no quote).

I don't know if this is only a typo or an ember-cli or blanket change.

[2015-12-14 12:53] sglanzer commented on #101
Looks like another ember-cli change that breaks us, thanks for the info; we
can update the readme with this

On Monday, December 14, 2015, Baptiste Meurant <notifications@github.com>
wrote:

[2015-12-14 13:01] bmeurant commented on #101
You're very welcome.

Thank you for this addon !

[2015-12-16 19:49] offirgolan opened #102 "Not working with ember-cli 2.2.0-beta.1 & loader.js 3.5.0"
`Error parsing instrumented code: TypeError: Cannot read property 'deps' of undefined`

I believe this is because of the new loader implementation. From playing around with some of my code, I noticed that some modules have been renamed once I upgraded.

As an example, I have a check to see if moment exists

[code]

which failed after upgrading. It had changed to the following

[code]

Honestly, I

[2015-12-16 21:18] sglanzer commented on #102
The loader is definitely an issue for us currently - I'm hoping for some
help from the ember-cli core team on this, but otherwise I'll try to start
hacking at it myself (I need this as well, just can't guarantee a time
commitment).

Do you see this as different from
https://github.com/sglanzer/ember-cli-blanket/issues/100?

On Wed, Dec 16, 2015 at 3:01 PM, Offir Golan <notifications@github.com>
wr

[2015-12-16 23:15] offirgolan commented on #102
Well, in #100, at least this somewhat works but beyond that, the coverage doesnt work at all. If you want to merge this into #100, feel free :smile:

[2015-12-17 01:20] jschilli commented on #102
I doubt that ember-cli blanket has anything to do with this. If you drop loader.js back to 3.2.1 it resolves the coverage issue.

Would be interesting to see if it resolves this as well.

-jeff

[2015-12-17 02:59] sglanzer commented on #102
Unfortunately it still has something to do with us, since we'll need to
figure out how to work with new versions of ember-cli

On Wed, Dec 16, 2015 at 8:20 PM, Jeff Schilling <notifications@github.com>
wrote:

[2015-12-18 19:11] sfbwalder opened #103 "using ember-cli-yadda with ember-cli-blanket 'Error: Could not find module yadda'"
We have installed the latest versions of ember-cli-yadda and ember-cli-blanket, with ember-cli 1.13.8.  When running /tests without blanket coverage the BDD tests run fine.  When running /tests?coverage to enable blanket coverage, the BDD tests fail with:
[code]
Has anyone else seen this?  I have also opened curit/ember-cli-yadda#15 that has a bit more info.

[2015-12-18 19:36] jschilli commented on #103
@sglanzer definitely need to push for a core hook in loader.js to get out of this business.

I'm down and out for the next two weeks but happy to provide feedback on a generalized loader.js hook for intercepting 'require' and 'import' calls and returning resolved modules

cc: @stefanpenner

[2015-12-18 19:46] stefanpenner commented on #103
I'm open to this, not quite sure what sort of hook is needed. If someone can give me a good TL;DR.

[2015-12-18 20:13] jschilli commented on #103
@stefanpenner

My rapid response is:

1. loader.js provides a hook that we would call to register ourselves as a `moduleAnnotator`
2. as loader.js responds to `require` or 'import` calls it passes the resolved code to the `moduleAnnotator` (if present) and returns the 'annotated' code

In our case we would do something like

[code]

Annotator should be called once per newly 'loaded' module (import

[2015-12-18 20:25] stefanpenner commented on #103
is resolvedModule the callback or .. ?

[2015-12-18 20:33] jschilli commented on #103
yeah, hmmm, it used to be the entry in `requirejs.entries[moduleName]` but now that's a `Module`

we probably don't want to leak that abstraction.  I think it should be the `exports` of the resolved module.

I should probably put together a rough prototype to make sure we have the api correct

[2015-12-18 21:43] stefanpenner commented on #103
that makes sense.

[2015-12-18 22:03] jschilli commented on #103
I'm picking at it - trying to put together a flow that works.

In the old world, we would have blanket instrument the code by wrapping the exports in a new define statement (which when evaled by blanket) would seed the requirejs cache.

Blanket does this instrumentation and calls a callback.  So I need to unwind it a bit to make it synchronous (allowing the above proposal to work) or figure someth

[2015-12-18 22:06] stefanpenner commented on #103
maybe something like:

[code]

[2015-12-18 22:07] jschilli commented on #103
yes, I think that will do it, trying to find right place to call 'annotator' in loader.js to try it out

[2015-12-18 22:12] jschilli commented on #103
so here's the problem - by the time exports are reified they are already 'evaled' afaict.  I need to do a source level transform.  I could be wrong - will investigate and get back to you

[2015-12-18 22:18] stefanpenner commented on #103
@jschilli ya, thats why i was thinking the callback, which can be munged and re-attached.

[2015-12-18 22:19] jschilli commented on #103
If you can point me to a line in loader where you think that would go I will verify

-jeff

[2015-12-18 22:20] stefanpenner commented on #103
https://github.com/ember-cli/loader.js/blob/master/loader.js#L145

[2015-12-18 22:34] jschilli commented on #103
Awesome. Will advise

[2015-12-19 01:31] jschilli commented on #103
probably needs to be deeper than that after some investigation e.g. https://github.com/ember-cli/loader.js/blob/master/loader.js#L113

hooking into `define` works for top level objects and could work by navigating dependencies in the transformer/annotator.

Hooking into findModule or reify would provide direct access to all required/imported modules as they are resolved.

I think the primary chall

[2015-12-19 01:44] stefanpenner commented on #103
One your only annotate modules who's module name matched something. Allowing those from deps to be filtered out

[2015-12-19 02:25] sglanzer commented on #103
Hey - just joining the conversation - we have exclusion loaders if that's what you're referring to (not sure if I'm reading the last comment correctly).

Agreed with @jschilli - to do this in a non-hack manner we need access to the layer below define - sounds like that's findModule or reify.

What we used to do was hook into the define lookups, rip the dependencies array apart for each module and

[2015-12-20 21:12] jschilli commented on #103
I have been hacking at this for more than a few hours and although I’ve gotten some paths to work, others remain uncovered.

I see this as having two primary challenges:

1. where to hook loader.js to ensure everything is covered (the answer seems to be findModule although the exports method of Loader.js is another prime candidate)
2. what is the interface and data flow between ember-cli-blanket,

[2015-12-21 00:29] jschilli commented on #103
Ok, i put together a synchronous implementation of blanket.instrument and am able to return the instrumented callback to loader.js at the point the module is finalized.

The mod to loader.js (hacked and not optimized) is:
[code]

We're not using `deps` in the version that I have working so I would expect the final api to be

[code]

AFAICT this logic will only be called as the module is finalized

[2015-12-21 04:27] sglanzer commented on #103
Thanks Jeff, awesome work!

On Sun, Dec 20, 2015 at 7:29 PM, Jeff Schilling <notifications@github.com>
wrote:

[2015-12-21 15:55] lolmaus opened #105 "Executed code marked as not covered"
Here's a file:

[code]

In my test I do:

[code]

I expect to have 100% coverage.

But here's how Blanket 0.7.0 reports the coverage:

![image](https://cloud.githubusercontent.com/assets/200884/11934491/badecc42-a813-11e5-89ab-f1f73c14d9bf.png)

This is clearly a bug. Lines 12 and 13 can not be evaluated without lines 8-10 being evaluated.

Looks like a bracket balancing bug.

[2015-12-21 16:27] lolmaus commented on #105
Here's another example:

[code]

![image](https://cloud.githubusercontent.com/assets/200884/11935434/df6620f6-a818-11e5-87e4-75e384e49783.png)

[2015-12-21 16:28] lolmaus commented on #105
Closed in favor of https://github.com/alex-seville/blanket/issues/546 .

[2015-12-21 16:28] #105 closed

[2015-12-21 17:09] lolmaus commented on #105
So this issue is a duplicate of #100, which in turn is a regression in Ember CLI dependencies.

To work around the issue, do this: https://github.com/bmeurant/ember-array-contains-helper/commit/18ef68b67ab9172da1d74bda1029ff3f046281d4

[2015-12-21 17:10] lolmaus commented on #105
So this issue is a duplicate of https://github.com/sglanzer/ember-cli-blanket/issues/100, which in turn is a regression in Ember CLI dependencies.

To work around the issue, do this: https://github.com/bmeurant/ember-array-contains-helper/commit/18ef68b67ab9172da1d74bda1029ff3f046281d4

[2015-12-28 16:26] ballPointPenguin opened #106 "this.concatFiles api deprecation"
Per the conversation here:
https://github.com/ember-cli/ember-cli/issues/5277#issuecomment-167452827

Either this.concatFiles should be refactored or a local broccoli-concat dependency should be imported.
It sounds like relying on that api via ember-cli is not supported.

[2016-01-04 23:36] sudrao opened #107 "Express JS not running with ember-cli 1.13.1 so no report generated"
I could not get ExpressJS, the mock server, to run with ember-cli test. Maybe I am missing some ember-cli or testem config? This discussion seems to indicate that express JS will not run in test environment:
https://github.com/ember-cli/ember-cli/issues/1763

I am able to get the browser UI to show the coverage report with "ember test --server" and it does do a POST to /write-blanket-coverage. But

[2016-01-06 10:48] lolmaus commented on #94
I'm having the same error when doing `ember test`.

When I do `ember s` and open the tests page, everything fine, coverage gets generated. But when I run `ember test`, `coverageData` is a blank object.

How do I resolve this?

PS Using Mocha.

[2016-01-06 12:36] sglanzer commented on #94
Check your testem file to see if it includes &coverage=true in the the test
page string

On Wednesday, January 6, 2016, Andrey Mikhaylov (lolmaus) <
notifications@github.com> wrote:

[2016-01-06 12:37] lolmaus commented on #94
It didn't, thank you!

[2016-01-07 02:30] sglanzer commented on #43
Fixed in PR #108

[2016-01-07 02:30] #43 closed

[2016-01-12 02:23] justin-lau commented on #57
I'm hitting the same problem with v0.8.0 and ember-cli-mocha.

I added the `console.dir(req.body);` and it shows that the `req.body` equals to `{}`.

Tried purging everything and reinstalling bower and npm dependencies, didn't help.

[2016-01-13 17:48] jagthedrummer commented on #85
I just ran into this issue. Is there any ETA on a fix?

In the mean time where should I add `require.unsee = savedRequire.unsee`?

[2016-01-13 17:51] jschilli commented on #85
@jagthedrummer adding that won't change the 1.13.13 issue with accuracy of reporting.

There is a series of changes that change up the way we instrument code that is good with 1.13.13 forward but we're waiting on an upstream dep PR on blanket.js - no action on that yet so we'll need to make a decision about creating a temporary fork.

cc: @sglanzer

[2016-01-13 17:57] jagthedrummer commented on #85
Ah! Thanks for the info @jschilli. I'm actually on ember-cli 2.2.0-beta.6 and I'm seeing the same error reported above, but I'm also getting no coverage info at all. (Not sure if that's new/useful info...)

[2016-01-13 21:59] jagthedrummer opened #109 "No coverage generated if project name contains the word 'template'"
If the project name contains the word 'template' ember-cli-blanket ignores every file in the project, and thus doesn't generate any coverage data at all.

It looks like this is due to the default `antifilter` and would also affect projects that happened to have the word 'tests' in the name.

It would be helpful to point this out somewhere very prominently in the docs.

[2016-01-19 03:51] raido commented on #100
I upgraded from Ember CLI 1.13.6 to 2.2.0-beta.6 and coverage dropped from 100% to 22%.

[2016-01-26 17:38] lolmaus commented on #102
I've upgraded my project to from Ember CLI 1.13.15 to 2.3.0-beta.1.

For me tests freeze unless I remove `ember-cli-blanket` from `package.json`. Is it the same issue?

[2016-02-03 16:28] devinus commented on #61
I'm getting the exact same error:

[code]

[2016-02-04 07:02] arjansingh opened #112 "v0.8.0 Only selectively generates lcov reports"
For my project, blanket only generates the `lcov.dat` file about half of the time I run it. It looks like testem is closing the browser session before blanket has a chance to send test results back to the coverage server.

Anyone else seeing this?

[2016-02-08 18:01] duksis commented on #75
having the same issue when following the readme
when using the new [passthrough option](http://www.ember-cli-mirage.com/docs/v0.1.x/server-configuration/#passthrough) for mirage tests are passing, but no coverage generated :)

[2016-02-17 00:00] wesm87 opened #113 "Seems like a lot of files aren't being included where they should be"
First I kept running into an error where `blanketOptions` was null. To fix that, in `blanket-options.js` I had to switch this:
[code]
to this:
[code]

and then in `test-helper.js` I had to add this line:
[code]

At this point if I were to run `ember s` and go to the `/tests/` page it would run my unit tests, but if I added the `?coverage` at the end (or run `ember test`) I'd still get the followin

[2016-02-17 08:28] pijey commented on #113
Ran into the same issue, first an error with

`undefined 'blanket.options('cliOptions').autostart'`

Then the null problem on blanket. @wesm87's solution fixed the issue for now (thanks !) but this indeed should be at least documented.

[2016-02-19 02:35] jschilli commented on #113
did you run `ember install ember-cli-blanket` such that the blueprint ran?

what version of ember?

the blueprint is responsible for adding blanket-options.js to your index.html

[2016-02-23 13:35] pijey commented on #113
I did ```ember install ember-cli-blanket``` and the versions I'm using are the following :

- ember-cli-blanket : 0.8.0
- ember-cli : 1.13.15
- ember : 2.3.0

[2016-02-23 15:06] jschilli commented on #113
@sglazner - I wonder if the blueprint (which is using positional insertions) is failing b/c the default template has changed

[2016-02-23 23:04] acorncom commented on #112
I'm seeing something fairly similar (not sure it's identical, so I can move my comments to a different issue if it turns out this is different).

**Background:**
Ember 2.3
Ember-CLI 2.3.0-beta.1

When running on the command line (not via browser) to mimic our CI server, I can properly run code coverage info and get results back when filtering my tests (if I run few enough tests):

[code]

However,

[2016-02-25 03:31] rayjcwu opened #114 "functions under /utils are always not tested"
I use `ember g Util test-util` to generate some utility files.

the generated files are like

[code]

[code]

but the coverage report always show testUtil() untested, no matter how many tests I wrote. Am I writing in the correct way?

My env is
ember-cli 2.3.0
ember-cli-blanket 2.8.0

[2016-02-25 03:38] jschilli commented on #114
Check your blanket options. The exclusion patterns skip coverage on test files. You can either muck with that pattern or rename.

-jeff

[2016-02-25 05:11] rayjcwu commented on #114
Thank you Jeff, but files under /util are not excluded. ember-cli-blanket does go over that file but it always thinks those functions are untested.

![screen shot 2016-02-24 at 9 01 48 pm](https://cloud.githubusercontent.com/assets/4761728/13310321/dbfbe3a2-db39-11e5-8647-68eba0256d73.png)

[2016-02-25 14:59] jschilli commented on #114
@rayjcwu fair enough - this sounds to me like it it #100 or #102

We have a PR ready to merge that resolves this - dropping loader.js back prior to 3.5.0 and see if that resolves it.

[2016-02-25 21:44] rayjcwu commented on #114
@jschilli I guess I have to downgrade ember-cli at the same time, because if I downgrade loader.js by itself I got a lot of `Uncaught ReferenceError: define is not defined`

[2016-03-01 22:43] rwwagner90 opened #115 "executed lines not marked as covered"
It would appear that `export` is the only thing not covered in my code. Shouldn't `export` be ignored or something? What's going on here?

![screen shot 2016-03-01 at 5 41 43 pm](https://cloud.githubusercontent.com/assets/2640861/13444564/0616129e-dfd5-11e5-9bf4-41d9113aa61f.png)

[2016-03-01 23:50] jschilli commented on #115
is that a screenshot from the browser? or external report?

we know that the exports are being transpiled

what version of ember? ember-cli-blanket?

[2016-03-02 00:41] svkangal opened #116 "lcov.dat not being generated for 0.6.2+ version"
I am using ember-cli 2.3.0, not sure if that has got to do anything with the issue

[2016-03-02 02:01] rwwagner90 commented on #115
@jschilli that is a screenshot from Code Climate.

I'm on Ember 2.3.1 and ember-cli-blanket 0.8.0

Is it supposed to run coverage on the transpiled code and not the original code?

My options look like this, I might have messed up:

[code]

[2016-03-02 02:24] rwwagner90 commented on #115
Okay, I looked at localhost:4200/tests, and it is transpiled. Now the uncovered part is the actual inside of the function. I'm not sure how it's not covered though. My test correctly does the addition, and it passes, so I am not sure why it is listed as not covered.

[code]

<img width="1126" alt="screen shot 2016-03-01 at 9 21 48 pm" src="https://cloud.githubusercontent.com/assets/2640861/1344878

[2016-03-02 16:39] #103 closed

[2016-03-02 17:09] wesm87 commented on #113
I also did an `ember install` and here are the versions I'm using:

* ember: 2.3.1
* ember-cli: 2.3.0
* ember-cli-blanket: 0.8.0

[2016-03-02 23:35] jschilli opened #117 "0.9.0 dependency in wrong place"
doh

npm link testing didn't reveal this

PR forthcoming

[2016-03-03 03:09] #117 closed

[2016-03-03 17:03] adamjmcgrath commented on #112
I have a similar issue - when I log the whole error https://github.com/sglanzer/ember-cli-blanket/blob/master/index.js#L14 rather than just the stack, I get:

[code]

My guess is that when the coverage file gets above a certain size the express server is shut down before the coverage middleware (more specifically bodyParser), completes parsing the coverage POST request data. It probably happens in

[2016-03-03 17:20] adamjmcgrath commented on #112
Added some more logging and testem stops the express server after that error, so that theory is wrong

[2016-03-03 22:14] svkangal commented on #114
@jschilli I see same issue with adapters too..

[2016-03-03 22:19] rwwagner90 commented on #115
@jschilli looks like this may be related to https://github.com/sglanzer/ember-cli-blanket/issues/105

This code is clearly exectued, but not marked as covered. I saw the fix there was to downgrade loader.js. Is there a way to fix this or update the library so we don't have to downgrade?

[2016-03-03 22:22] rwwagner90 commented on #105
@lolmaus is this still an issue? I'm not sure if I should downgrade loader.js, especially since it has been moved to package.json now and out of bower.

[2016-03-03 22:26] jschilli commented on #105
We released 0.9.0 yesterday which gets current with ember cli.

Unfortunately I borked the dependencies #117.  That change has been committed but @sglanzer hasn't released 0.9.1 to npm yet.

you could run against master (and I would appreciate it for verification that all of this works on apps other than mine)

[2016-03-03 22:29] jschilli commented on #114
See #100 or #102  - this should be resolved with the release of 0.9.x (0.9.0 came out yesterday but has a dependency issue - resolved with #117) - 0.9.1 should be out soon or you can run against master

[2016-03-03 22:53] rwwagner90 commented on #105
@jschilli I just updated my package.json to point to ` "ember-cli-blanket": "sglanzer/ember-cli-blanket#master"` and reinstalled, but now when I check the coverage button at the top of the tests, nothing about coverage shows up at the bottom.
![screen shot 2016-03-03 at 5 53 04 pm](https://cloud.githubusercontent.com/assets/2640861/13512459/cfb8be3c-e168-11e5-97c2-1f5705700f2d.png)

[2016-03-03 22:56] jschilli commented on #105
@rwwagner90 what version of ember-cli? ember?

any messages on the console?  running ember test --server?

[2016-03-03 22:57] rwwagner90 commented on #105
@jschilli I was on ember-cli 2.3.0 and ember 2.3.1 I think. I am updating to 2.4.1 now to see if that helps.

[2016-03-03 23:06] rwwagner90 commented on #105
@jschilli I see this in the console `TypeError: blanket.instrumentSync is not a function`

[2016-03-03 23:07] jschilli commented on #105
ember g ember-cli-blanket to update the blanket version

[2016-03-03 23:08] jschilli commented on #105
I can look @ putting some stronger feedback in around that - we could add it to the ember-cli-version-checker logic but we're running off a fork of blanket.js ATM

[2016-03-03 23:09] rwwagner90 commented on #105
@jschilli we need a specific commit of blanket?

[2016-03-03 23:10] jschilli commented on #105
yep,

`bower install blanket#5e94fc30f2e694bb5c3718ddcbf60d467f4b4d26`

the blueprint has been updated but doesn't run automatically unless you ember install

[2016-03-03 23:10] jschilli commented on #105
some README updates are probably in order

[2016-03-03 23:11] rwwagner90 commented on #105
@jschilli okay, I'm at 100% coverage now. Thanks for your help :smile: . Anything I can do to help document this or get things updated so this is more automatic?

[2016-03-03 23:14] jschilli commented on #105
awesome.

Yeah - a PR with some guidance, things to check etc in the readme would be awesome.

I can noodle on ember-cli-version-checker in index.js - not sure if that will resolve a sha for a bower dependency (that's my recollection when I coded that)

[2016-03-03 23:14] rwwagner90 commented on #105
I'd be glad to make some README updates later, if you'd like, but it would be great if we could just get 0.9.1 out and not have to point people to master. When do you think you could publish that to npm?

[2016-03-03 23:15] jschilli commented on #105
@sglanzer holds the keys to publish - will ping him

[2016-03-03 23:16] jschilli commented on #105
I think even if we publish 0.9.1 those existing users of ember-cli-blanket will need to do a ember g or bower i to get it working

[2016-03-03 23:19] rwwagner90 commented on #105
@jschilli yeah definitely. I submitted a PR https://github.com/sglanzer/ember-cli-blanket/pull/120

[2016-03-03 23:21] rayjcwu commented on #114
Hi @jschilli, I found 0.9.1 is already on npm, I upgrade `ember-cli-blanket` to `0.9.1` and `blanket` to `1.1.7`. But when I run test, I got a lot of `TypeError: blanket.instrumentSync is not a function(…)`  in `blanket-require.js` and no code coverage results were shown.

[2016-03-04 00:05] jschilli commented on #114
`ember g ember-cli-blanket` or `bower i blanket#5e94fc30f2e694bb5c3718ddcbf60d467f4b4d26` will fix it

@rwwagner90 updated the README  - still thinking about startup diagnostics that will fix that

[2016-03-04 00:38] rayjcwu commented on #114
Thank you @jschilli , looks good !_!

[2016-03-04 00:39] rayjcwu commented on #114
I found some files are skipped after I upgrade ember-cli-blanket, checking I need to tweak some configurations....

[2016-03-04 02:17] rwwagner90 commented on #115
This should be fixed with 0.9.1

[2016-03-04 02:17] #115 closed

[2016-03-04 04:52] sglanzer commented on #105
I thought I had published 0.9.1 yesterday - it shows on npm - is the content incorrect?

[2016-03-04 05:13] rwwagner90 opened #121 "0.9.1 not working in Chrome on Travis"
After updating to the latest, I am getting errors that Travis cannot find blanket. Any ideas?

https://travis-ci.org/shipshapecode/ember-shepherd/jobs/113577589

[2016-03-04 09:17] jschilli commented on #105
It is there. My bad.

-jeff

[2016-03-04 13:10] jschilli commented on #121
@rwwagner90 hmmm.  I'm going to suspect timing - I pulled the repo and ran chrome locally fine.

I'll noodle on it

[2016-03-04 13:11] jschilli commented on #116
upgrade to ember-cli-blanket 0.9.1 - be sure to rerun ember g ember-cli-blanket to get updated blanket.js install

[2016-03-04 13:12] jschilli commented on #114
@rayjcwu  can we close this now?

[2016-03-04 13:58] jschilli commented on #112
I suspect that the 50mb limit set in our middleware is being superseded by another bodyParser in the middleware stack.  are you using any other 'middleware' addons?

[2016-03-04 14:03] jschilli commented on #107
This was resolved in #100

please reopen if still persisting

[2016-03-04 14:03] #107 closed

[2016-03-04 14:05] jschilli commented on #102
Can you retest this with version 0.9.1 (and be sure to update blanket.js via `ember g ember-cli-blanket`) and reopen if it still persists

[2016-03-04 14:05] #102 closed

[2016-03-04 14:05] jschilli commented on #109
PR's welcome

[2016-03-04 14:05] jschilli commented on #85
Can you retest this with version 0.9.1 (and be sure to update blanket.js via `ember g ember-cli-blanket`) and reopen if it still persists

[2016-03-04 14:05] #85 closed

[2016-03-04 14:06] #60 closed

[2016-03-04 14:08] jschilli commented on #71
@vitapluvia still an issue with 0.9.1?  the code has changed a bunch since then and your file ref above doesn't give me a clue.

Please reopen if still an issue

[2016-03-04 14:08] #71 closed

[2016-03-04 14:11] jschilli commented on #100
Can you retest this with version 0.9.1 (and be sure to update blanket.js via `ember g ember-cli-blanket`) and reopen if it still persists

[2016-03-04 14:11] #100 closed

[2016-03-04 14:40] rwwagner90 commented on #121
@jschilli yeah chrome works locally. Travis does not throw the error that it cannot find blanket if I use phantom, but it does if I use chrome. I've been having issues with a lot of timing stuff that forced me to use chrome because phantom did not wait for the whole vendor bundle or something.

[2016-03-04 16:34] rwwagner90 commented on #121
I confirmed this is an issue with ember-cli-blanket because I removed it and blanket and now my tests run without those errors. Please let me know what you need from me to help debug this.

[2016-03-04 16:45] crudo1f commented on #100
nice. that fixed the issue for me.

[2016-03-04 16:48] adamjmcgrath commented on #112
No other middlewares (I verified by putting some logging in https://github.com/ember-cli/ember-cli/blob/8a5fc39aef990b32382f260c935a90e95d72359c/lib/tasks/test.js#L33)

I also logged the limit in bodyParser and it was set to 50mb

[2016-03-04 16:51] jschilli commented on #112
@adamjmcgrath any chance you could run your tests in chrome and grab some stats from the network tab on `/write-blanket-coverage` - one thing I noticed today when debugging a qunit test (we use mocha here) is that it looked like we're posting multiple times

[2016-03-04 16:59] adamjmcgrath commented on #112
We use mocha as well and there's only one POST to `/write-blanket-coverage`

[2016-03-04 17:01] jschilli commented on #112
Does it show the post size? e.g. is size even an issue? or a red-herring?

[2016-03-04 17:08] adamjmcgrath commented on #112
The size is 2.4mb. The error from bodyParser is confusing:

[code]

Seems to suggest the file is ~660kb. I'll keep digging and let you know if I come up with anything

[2016-03-04 17:09] acorncom commented on #112
FWIW, I was seeing three POSTs when I ran into this, I'll check back with more details when I work on that some more ...

[2016-03-04 17:11] jschilli commented on #112
that is what I was seeing as well (not this size issue) - it looks like we’re listening for Qunit.done() - but that’s being called three times.

Not sure if something’s changed in qunit but it’s weird.

[2016-03-04 18:39] sglanzer commented on #121
Is this exclusive to Chrome or do you see the same for Firefox?

[2016-03-04 19:20] skaterdav85 commented on #102
Seems like it works now. Thanks!!

[2016-03-04 19:24] rwwagner90 commented on #121
@sglanzer this is only in Travis. I am running Chrome on Travis to run my tests. You can see the output in the link I posted.

[2016-03-04 21:40] sglanzer commented on #121
Right, I use Firefox in Travis - I was just wondering if this was exclusive to Chrome on Travis or more specifically an issue with our bower dependencies in Travis

[2016-03-04 22:23] TaylorHG commented on #85
Been lurking this for a while now

@jschilli your 0.9.1 update solved the issue for me. Thanks a million, you're a rockstar.

[2016-03-05 13:56] rwwagner90 commented on #121
@sglanzer it does appear that Firefox works in Travis https://travis-ci.org/shipshapecode/ember-shepherd/jobs/113889110 .

Chrome is still messed up, just tried again:

https://travis-ci.org/shipshapecode/ember-shepherd/jobs/113890874

Any ideas? I can switch to Firefox for now, so this doesn't block me from using ember-cli-blanket, but I would love for everything to work in Chrome.

[2016-03-06 03:26] notmessenger opened #122 "Upgrade broccoli-funnel dependency"
According to https://github.com/ember-cli/ember-cli/blob/master/PERF_GUIDE.md the `broccoli-funnel` dependency should be at `^1.0.1`

[2016-03-06 03:28] notmessenger opened #123 "Upgrade broccoli-merge-trees dependency"
According to https://github.com/ember-cli/ember-cli/blob/master/PERF_GUIDE.md the `broccoli-merge-trees` dependency should be at `^1.1.0`

[2016-03-07 05:04] sglanzer commented on #121
I guess switch to Firefox for now - interesting that it's literally a browser issue - I use Chrome for all local testing, but Firefox for Travis (because it's installed by default).  I'm afraid I don't have any leads to offer currently, but at least it's a data-point.

[2016-03-07 16:21] rwwagner90 commented on #121
Yeah, not sure. Since Firefox seems to work fine, it's not that pressing for me personally. I wonder if it just has to do with blanket being a fork. I think it used to work in Chrome on previous versions.

[2016-03-07 17:06] NullVoxPopuli commented on #116
when I run `ember test --test-page='tests/index.html?coverage'`,  I can't find the lcov file anywhere....

here is my blanket-options.js:

[code]

[2016-03-07 17:45] NullVoxPopuli opened #124 "I can't get the coverage to generate at all."
Here is my blanket-options.js

[code]

and testem

[code]

I've even tried with

ember test --test-page='tests/index.html?coverage'

and

ember test --test_page='tests/index.html?coverage'

[2016-03-07 17:45] NullVoxPopuli commented on #124
I'm using ember 2.4

[2016-03-07 17:46] jschilli commented on #124
What version of ember-cli-blanket?

Do you see results in browser?

-jeff

[2016-03-07 17:49] NullVoxPopuli commented on #124
"ember-cli-blanket": "0.9.1",

when I do `ember test --server` I see that Enable Coverage is checked.

and the results are underneath.
(this is good to know, I hadn't tried the server version yet)

but, results don't seem to generate if I just do ember test, or npm run test.

my npm run test does this:
[code]

[2016-03-07 17:52] NullVoxPopuli commented on #124
oh, I still don't see any generated lcov files or anything in the root directory.

[2016-03-07 17:52] jschilli commented on #124
When you run in browser it will still write to the server to generate the file.

Can you look in the inspector to look for /write-blanket-coverage?  Any errors in console?

-jeff

[2016-03-07 17:55] NullVoxPopuli commented on #124
[code]

oh ok, this is good to check. I thought the mirage thing on the readme was optional. I'll do that real quick.

[2016-03-07 17:59] NullVoxPopuli commented on #124
ok, as per Mirage docs, I added

  this.passthrough('/write-blanket-coverage');

now there is no error -- however, I still don't see coverage files :-(

[2016-03-07 18:03] NullVoxPopuli commented on #124
here is my repo, if you're curious: https://github.com/NullVoxPopuli/aeonvera-ui

[2016-03-07 18:09] jschilli commented on #124
Thx. Will be later before I can take a look

-jeff

[2016-03-07 18:10] NullVoxPopuli commented on #124
kk - if there is anything I can do to help give you more information or debug, lemme know

[2016-03-07 22:33] akshayrawat commented on #124
For me `ember test --test_page='tests/index.html?coverage'` was ignoring the `--test-page` option. Adding it `&coverage` to `testem.json`'s `test_page` worked.

[2016-03-07 22:59] NullVoxPopuli commented on #124
my results:
[code]

what's your `ember version --verbose` give you? here is mine:
[code]

[2016-03-08 14:23] NullVoxPopuli commented on #124
maybe I'm looking in the wrong folder?

[2016-03-08 16:21] akshayrawat commented on #124
[code]

Thats strange, it should have worked.

[2016-03-08 16:22] NullVoxPopuli commented on #124
can you try with ember 2.3?

[2016-03-08 17:09] arjansingh commented on #112
So Qunit is unreliable? That would explain a lot regarding the intermittency. I'll also try and dig a little deeper in the next couple weeks.

[2016-03-08 20:20] svkangal commented on #116
@jschilli  trying out new version

[2016-03-08 20:32] svkangal commented on #116
I get the file now but it has 'undefined' in it and nothing else

[2016-03-08 23:14] sandersky commented on #116
Seeing the same thing, the `lcov` file is generated but contains no information. If I switch from `lcov` to `json` I see coverage in the file.

[2016-03-08 23:16] jschilli commented on #124
it's definitely mirage blocking the /write-blanket-coverage call

I took ember-cli-mirage out of your project (and commented it out in login-test) ran and got the following:

<img width="504" alt="screen shot 2016-03-08 at 5 15 18 pm" src="https://cloud.githubusercontent.com/assets/122509/13619925/86e5d112-e551-11e5-9adc-e2c61e3818e9.png">

[2016-03-08 23:18] jschilli commented on #124
I don't use mirage so I would look @ the doc (including the blanket readme) as to how to support that POST call being valid.

in general, you should be able to see a call to /write-blanket-coverage in the network tab when tests complete.

if you don't something is blocking it (or an error occurred) which should result in something in the console.

[2016-03-08 23:29] NullVoxPopuli commented on #124
hmmm. ok, I'll see what I can find out.

[2016-03-09 01:49] rayjcwu commented on #114
@jschilli it does scan lines in files under /utils, but some files were missing.

for example, running with the default `blanket-options.js`
[code]
dozens of files are missing from the code coverage report

[2016-03-09 04:05] sglanzer commented on #124
Have you tried a general passthrough? `this.passthrough()`

We have projects using mirage and blanket, with 2.3+ ember-cli and they're working, so we are likely just missing some config here

[2016-03-09 04:30] jrjohnson commented on #124
There is some info in the docs about this https://github.com/sglanzer/ember-cli-blanket#reporters-and-testing-mocks You do have to configure mirage to pass the request through and not intercept it.

[2016-03-09 12:06] NullVoxPopuli commented on #124
@sglanzer @jrjohnson yeah, though maybe not correctly. From just reading the docs, it looked like I'd just add `this.passthrough('/write-blanket-coverage') to my config.js (where all the mirage routes are)

but no combination of their pass through examples work.

from your docs, I added

[code]
to my mirage/config.js -- but no dice -- stile don't see the lcov file

the solution to this problem has

[2016-03-09 13:04] NullVoxPopuli commented on #124
there is this open issue on ember-cli-mirage: https://github.com/samselikoff/ember-cli-mirage/issues/404

[2016-03-09 13:41] NullVoxPopuli commented on #124
I made a discovery.

the output file is output when one test is ran, but not all.

the URL from the browser:
http://localhost:7357/7612/tests/index.html?coverage=true&nojshint

no post to /write-blanket-coverage

but with http://localhost:7357/7612/tests/index.html?coverage=true&nojshint&testId=3e5a63b1

/write-blanket-coverage appears 3 times in the network log.

[2016-03-09 16:18] thedrew12 commented on #124
I was running into the same issue. I noticed I was getting `TypeError: blanket.instrumentSync is not a function` errors in the console. So ran `ember g ember-cli-blanket` and everything seems to work fine. The passthrough with Mirage is working and I'm getting the coverage generated.

[2016-03-09 16:29] NullVoxPopuli commented on #124
when I (re)ran `ember g ember-cli-blanket` the only thing I noticed was that `autostart: true` was commented out in my `blanket-options.js` file.

running `ember test --test-page='tests/index.html?coverage=true&nojshint' `

did not output the lcov file.

adding --server doesn't help either.

However, I can click `rerun` on any of the tests, the lcov file is generated.

[2016-03-16 19:15] bierdybard opened #125 "lcov.dat not generated when using --filter flag"
Hello,

Since ember-cli@2.3, running ember test with the --filter flag silently fails to generate lcov.dat.

Running ember test without the --filter flag correctly generates the file. Reverting to ember-cli@~1.13 corrects the issue.

I have reproduced this on multiple versions of node/npm (0.10, 0.12, 4.4LTS). I'm not sure if this is an ember-cli bug or an ember-cli-blanket bug, but the tests them

[2016-03-16 19:18] bierdybard commented on #125
Here is my blanket-options.js:
[code]

[2016-03-17 13:02] lolmaus opened #126 "Browser freezes after completing tests"
Hi!

When test execution reaches 100%, browser tab freezes and test runner eventually times out with a negative result.

Removing `ember-cli-blanket` from `package.json` resolves the issue.

| Package | Version |
| --- | --- |
| ember-cli-blanket | 0.9.1 |
| blanket | 5e94fc30 |
| ember | 2.4.2 |
| ember-cli | 2.4.2 |
| ember-cli-mocha | 0.10.1 |
| mocha | 2.4.5 |
| Chrome | 49.0.2623.87 (64-bit)

[2016-03-17 22:05] bierdybard commented on #125
This issue was resolved by updating testem.js to use ?coverage=true instead of just ?coverage . I don't know why this is broken now, but this workaround seems to do the trick.

[2016-03-17 22:05] #125 closed

[2016-03-18 03:39] sglanzer commented on #125
Thanks for the info @bierdybard, I'll update the README with the explicit version

[2016-03-18 08:15] jschilli commented on #125
Thanks for chasing that down.  I suspect that either ember-cli or testem is
building the url differently.  For now documenting that is a reasonable
approach.

On Thu, Mar 17, 2016 at 11:39 PM, Steven Glanzer <notifications@github.com>
wrote:

[2016-03-21 18:13] NullVoxPopuli commented on #124
as an update, I just ran all my tests individually to see if it was a particular test that was causing the issue, but all individual tests write coverage output. so.. I still don't know what's up

[2016-03-21 18:58] NullVoxPopuli commented on #124
I figured it out! If I have acceptance tests, the call to `/write-blanket-coverage` never happens when I run all tests

[2016-03-21 19:46] sglanzer commented on #124
Is that potentially related to mirage and missing a `this.passthrough()`?

From: "L. Preston Sego III" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: sglanzer/ember-cli-blanket <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 21, 2016 at 2:58 PM
To: sglanzer/ember-cli-blanket <ember-cli-blanket@noreply.github.com<mailto:ember-cli-blanket@noreply.gi

[2016-03-21 19:53] NullVoxPopuli commented on #124
well, I have this in my mirage config.js:

`this.passthrough('/write-blanket-coverage', ['post']);`

which works fine. I have an issue opened on mirage about this: https://github.com/samselikoff/ember-cli-mirage/issues/637#issuecomment-199432488

So, I currently *think* this is a mirage bug -- something to do with acceptance tests blocking the passthrough after all tests finish running.

[2016-03-21 19:57] sglanzer commented on #124
Ah, I always use `this.passthrough()`, so it’s possible there is a difference, which kind of sucks ;)

From: "L. Preston Sego III" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: sglanzer/ember-cli-blanket <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 21, 2016 at 3:53 PM
To: sglanzer/ember-cli-blanket <ember-cli-blanket@noreply.github.com<mailto:

[2016-03-22 00:22] NullVoxPopuli commented on #124
Ok, so now I have an ember-cli-blanket problem: https://travis-ci.org/NullVoxPopuli/aeonvera-ui/builds/117598755

[code]

It appears that `lcov.dat` is empty.

[2016-03-22 04:36] sglanzer commented on #124
I haven’t seen that before, but you might want to try running with either Chrome or FireFox as the browser, Phantom can be finicky sometimes and we’ve dropped it entirely for our travis builds (we went with FireFox)

You can look at testem.js and .travis.yml in some of our repos for examples https://github.com/ciena-frost/ember-frost-select/blob/master/.travis.yml#L35 the main changes are to launc

[2016-03-22 11:24] NullVoxPopuli commented on #124
oh that's cool that you test it on betas and canaries. I should do that at some point. :-)

[2016-03-22 12:17] NullVoxPopuli commented on #124
I HAVE COVERAGE!!!!! https://codeclimate.com/github/NullVoxPopuli/aeonvera-ui/coverage

thanks!!!!!

[2016-03-22 12:17] #124 closed

[2016-03-22 12:36] jschilli commented on #124
Glad to hear it.

If there are any gotchas you encountered either adding a comment here about how you resolved or even better a trouble shooting section in the read me would be appreciated.

-jeff

[2016-03-22 12:56] NullVoxPopuli commented on #124
I pretty much copied your travis setup. Here is mine, for future wanderers:
https://github.com/NullVoxPopuli/aeonvera-ui/blob/master/.travis.yml

[2016-03-22 12:57] NullVoxPopuli commented on #124
oh! The big thing was also that I was importing Mirage in my acceptance tests. Mirage is already injected in to acceptance tests, so importing it again breaks things.

[2016-03-22 13:35] sglanzer commented on #124
Excellent, glad to hear you got it working :)

[2016-03-24 14:22] stacylondon commented on #113
@wesm87's solution helped me as well (thank you!).  I ran `ember install ember-cli-blanket` but it did not modify tests/index.html.  In order to get the install to work I had to change the loader.js version in bower.json to `"loader.js": "ember-cli/loader.js#3.6.1",` because ember-cli@1.13.15 uses `loader.js#3.4.0`.

I'm using the following versions of things:

- ember: 1.13.12
- ember-cli: 1.13.1

[2016-03-24 18:04] SSS2557 commented on #116
any updates on this? :(

[2016-03-24 19:45] sglanzer commented on #116
We fixed this in our projects - you can check https://github.com/ciena-frost/ember-frost-button for an example.  I can't recall exactly what was changed, but @sandersky may remember.

[2016-03-25 04:19] SSS2557 commented on #116
thanks a lot @sglanzer

I am guessing the solution is in this:
https://github.com/ciena-frost/ember-frost-button/pull/46/commits/a77ee9e4b8685325bbbfde70fa8d325597436ef8

I will take a look :)
@sandersky , would be great if you could let me know any other insight.

Appreciate your help

[2016-03-28 13:30] lolmaus commented on #126
@sglanzer Can you please look into this one?

[2016-03-28 14:59] sglanzer commented on #126
I'm in a large hole for time currently, but I'd guess this is related to the request to write coverage - a scenario that should time out, but isn't.  Do you have mirage or another server mocking tool installed by any chance?

Also, are there any useful console logs?

[2016-03-29 18:45] calderas commented on #112
I just bumped into this issue as well trying to upgrade ember-cli and ember-blanket
I also see three requests aborted using qunit.
[code]

[2016-03-29 22:06] edmundito commented on #49
@flyswatter Right, it seems that the CSS in your app may be interfering with the css for the test runner. I had to add this to `tests/index.html`

[code]

...because we were doing a similar reset in our app. Your suggestion helped us fix it.

[2016-03-29 22:07] flyswatter commented on #49
It's interesting that the app's reset can extend outside itself, but I guess a reset indiscriminately applies to `html, body`, so why shouldn't it?

[2016-03-30 18:08] edmundito opened #127 "Missing coverage after updating from 0.8.0 to 0.9.1"
After I upgraded to 0.9.1 (and blanket to 5e94fc30f2e694bb5c3718ddcbf60d467f4b4d26), when I see the coverage report from ember test, I am missing a great number of files, some of them seem to be files that do not have a test case. The report went from ~100 files to ~35 files. I added `excludeMissingFiles: false` to my blanket-options.

Ember version: 2.3.1

[2016-03-30 20:07] calderas commented on #112
Looking at the logs I can see a couple of things:
* If I run tests with a filter (~50 tests), coverage runs before tests.
* If I run the full test suite (~2000 tests) coverage runs after tests and testem closes the session before the POST finishes.

Logs here:
https://gist.github.com/calderas/3374f43fde46f00005b2d2c45da78057

[2016-03-31 19:32] ajgordo commented on #127
I too am seeing this.
For me it is the components that are not being checked for coverage.

[2016-03-31 19:45] jschilli commented on #127
hmmm, @edmundito are you seeing this in the browser? or via a report file?
`excludeMissingFiles` applies (AFAIK) only to the lcov reporter.

What may be happening here is that prior to the require/loader.js changes we ran this: https://github.com/sglanzer/ember-cli-blanket/blob/e9253c796aa46e5bb86be28b9aa3433a4814da58/vendor/blanket-require.js#L91 to capture all files that weren't explicitly requi

[2016-03-31 19:46] jschilli commented on #127
@ajgordo do you have integration or component tests? e.g. @edmundito indicates that the files appear to be related to those not tested.  Same for you or different issue?

[2016-03-31 19:52] ajgordo commented on #127
I sure do.
My issue is that routes, initializers and services are tested, but not components.
This is in an addon so perhaps that plays a part in it?
I'm also having live-reload firing over and over as watchman notices the coverage file changed. Unrelated, but really annoying right now

[2016-03-31 20:00] jschilli commented on #112
@calderas et al,  I'm looking at a change that reworks how we end the tests - will advise with a PR that you can try before we release

[2016-03-31 20:02] jschilli commented on #127
@ajgordo can you gist your blanket-options - am assuming that these were covered prior to 0.9.1?

[2016-03-31 21:07] ajgordo commented on #127
Try this - https://gist.github.com/ajgordo/5f8c7414f21bd7b05747bfdf7145c249

[2016-03-31 21:54] jschilli commented on #127
@ajgordo nothing looks out of sorts there.

did you say these were covered prior to 0.9.1?

I use blanket with addons almost exclusively with no issue.

what version of:

ember, loader.js, blanket (bower)

if you run in browser with ?coverage - no coverage on components? even if you focus on that one test?

if you are in browser, open inspector, source - there will be a subfolder named '(no domain

[2016-03-31 22:21] ajgordo commented on #127
Ember 2.2
Loader  3.6.1 (Although I keep seeing errors telling me that unable to require.unsee, please upgrade loader.js to >= v3.3.0 so there might be something funky going on)
blanket 5e94fc30f2e694bb5c3718ddcbf60d467f4b4d26

I'm looking in to the loader warning I'm seeing as I don't see why that would happen either.

[2016-03-31 22:28] jschilli commented on #127
Need to switch to loader > 3.6.1 or 4.0.

Ember-cli-blanket checks for loader versions so it is possible that you have it in both bower and package.json

-jeff

[2016-03-31 23:01] edmundito commented on #127
My loader is 4.0.1, installed only via npm/packages.json.

@jschilli I am a little unclear about the recent changes to loader, can you clarify?

[2016-03-31 23:04] ajgordo commented on #127
I definitely don't have loader in package.json, so it would have to be a dependency somewhere if it was loading both so it's all a bit funky. I'm going to do some project clean up and see if that makes it behave any differently.

[2016-03-31 23:21] jschilli commented on #127
Then your bower version is too old. Cleanup should be good.

I'm surprised that ember cli blanket doesn't bark about loader.js version

-jeff

[2016-03-31 23:24] ajgordo commented on #127
It did, so I updated it to 3.6.1, only then would it complete the install.

[2016-03-31 23:29] jschilli commented on #127
Loader.js back in 3.5 timeframe added some optimizations short circuiting
the re;quire path that we used to rewrite the incoming js.

In loader.js 3.6.1 we landed a change that allows us to rewrite on both
import and require. Loader.js moved to an npm module in 4.0 so we now have
to verify that we have 3.6.1 or 4.0 in order to generate coverage

That link I sent earlier was a pre 3.6.1 hook to rep

[2016-04-01 02:28] jschilli commented on #126
@lolmaus console logging and watching the network tab will help diagnose this.

I'm working on a PR that will add error output on the ajax call to write coverage.

Without some additional info not much we can do here.

[2016-04-01 02:34] jschilli commented on #76
looks like you don't have a coverage directory (that's the issue I see in that log)

closing - if that's not the issue, feel free to reopen

[2016-04-01 02:34] #76 closed

[2016-04-01 02:36] jschilli commented on #114
@rayjcwu so the missing files - are they not imported during your test run? e.g potentially uncovered

in #127 we're having this discussion about the change since 0.9.0 - I'm thinking about a way to close that gap.

If you can confirm that this is the case, I'll close this issue in favor of a new issue laying out the missing files issue.

[2016-04-01 13:15] jschilli commented on #112
@adamjmcgrath if you run ember test --server (which by definition will keep the server running) does it complete?

my thoughts last night didn't pan out - so adding browser side reporting for error conditions when the ajax call is fired is our best hope for improved diagnostics.

[2016-04-01 14:25] calderas commented on #112
```ember test --server``` works fine for me.

[2016-04-01 14:27] jschilli commented on #112
ok, cool - I’m prepping a PR now with some additional debug as well as the fix for uncovered/non imported modules.

[2016-04-01 14:51] jschilli commented on #127
I have a PR up #128 - would be good if any/all of you could test that against your config before we merge and release.

[2016-04-01 14:53] jschilli commented on #112
@adamjmcgrath the PR in #128 includes a new debug flag as well as some diagnostics about the post length, error handling etc.  would be ideal if you could run against that branch and turn on the `debugCLI:true` flag in blanket-options

If that reveals some additonal info (or even gives a sense of how big the post is) that would be helpful.

[2016-04-01 15:06] jschilli commented on #49
@flyswatter recommendation here? or close?

[2016-04-01 15:16] jschilli commented on #61
I believe this was resolved with #111

closing for now - feel free to reopen and/or comment if still an issue

[2016-04-01 15:16] #61 closed

[2016-04-01 15:17] adamjmcgrath commented on #112
Sure I can run it and share output - will try and do it today, but it may be early next week.

Incidentally I fixed the issue I was having by changing the ajax request that posts the coverage to being synchronous (added the `async: false` option to https://github.com/sglanzer/ember-cli-blanket/blob/aa77828bfcebb9eed738c5589ef9ea01bb118652/vendor/start.js#L6)

This resolved the issue for me, my hun

[2016-04-01 15:18] jschilli commented on #82
@sfbwalder PR welcome

[2016-04-01 15:23] jschilli commented on #94
I believe this was fixed in #111

feel free to comment and/or reopen if not the case

[2016-04-01 15:23] #94 closed

[2016-04-01 15:32] jschilli commented on #87
I have tried this in both an ember-cli 1.13 and ember-cli 2.3 project and can't recreate.

is this still an issue for you? what versions (ember, ember-cli, ember-cli-blanket)?

[2016-04-01 15:33] jschilli commented on #112
@adamjmcgrath - wow! that's super helpful.  If I can get a reproducible case of it not writing to completion we can test `async:false`

would be interested in your fork

[2016-04-01 15:57] lolmaus commented on #87
I've switched to Browserify-backed `sinon` from npm, so I can't confirm/reject. Lets close this until someone else chimes in.

[2016-04-01 15:57] #87 closed

[2016-04-01 16:06] jschilli commented on #114
should be resolved with #128 - if you can pull and confirm from my branch - that would be helpful

[2016-04-01 16:08] jschilli commented on #126
@lolmaus #128 includes additional diagnostics.  Any chance you could pull my branch in and run (in particular with the new `cliOptions: { debugCLI: true...` option and report back on browser console output?

[2016-04-01 16:11] lolmaus commented on #126
@jschilli Thanks! I'll try to do all you suggested somewhere next week.

[2016-04-01 16:20] flyswatter commented on #49
If it doesn't break others' formats if say add the Css that we did, but you would want to test it on some other projects first.

Otherwise a note in the readme I guess would do.

[2016-04-01 17:25] calderas commented on #112
Confirmed ```async:false``` does the trick !

[2016-04-01 17:26] jschilli commented on #112
I’ll update my PR.

did you happen to see the debug line with size of posted data?  curious to try and replicate.

[2016-04-01 19:10] rayjcwu commented on #114
it works in my case, thank you @jschilli  :+1:

[2016-04-01 19:10] jschilli commented on #114
thanks

[2016-04-01 19:10] #114 closed

[2016-04-01 19:58] calderas commented on #112
Yes, this is what I get:
[code]

[2016-04-01 20:19] jschilli commented on #112
Thanks - that helps.

We need to add a guard against the triple write - that doesn’t happen with mocha AFAIK - so I’ll have to fire up a qunit example to debug that.

The PR #128 now includes `async: false` - I think it’s ready to go.

-jeff

[2016-04-02 08:13] arjansingh commented on #112
I finally dug into this tonight. The root cause, I believe, is testem, specifically: https://github.com/testem/testem/pull/616

Basically on test completion, testem indiscriminately kills every open socket to its server, which explains why large coverage reports (which might still be transmitting) are often cut off mid transit.

I tested locally and also agree that the solution of using blocking A

[2016-04-04 04:21] sglanzer opened #129 "Add a TOC to the README"

[2016-04-04 04:22] sglanzer opened #130 "Create a coverage command?"
`ember coverage` instead of having the user run with the `test-page` option?

Any downsides to this?

[2016-04-04 11:42] #127 closed

[2016-04-04 11:42] #101 closed

[2016-04-04 11:42] #109 closed

[2016-04-05 18:55] acorncom commented on #112
Confirmed, #128 worked on our end as well.  I believe this issue can be closed! :+1:

[2016-04-05 18:56] acorncom commented on #116
Might be related to #112

[2016-04-05 20:03] arjansingh commented on #112
Well... Let's wait for the PR to be merged. 😊

On Tuesday, April 5, 2016, David Baker <notifications@github.com> wrote:

--
Arjan

[2016-04-05 20:34] acorncom commented on #112
Believe it was 4 days ago ;-)

[2016-04-05 21:17] arjansingh commented on #112
Let's wait until `0.9.2` is published on npm then? then? I just want to make sure this bad boy is live.

[2016-04-05 21:22] jschilli commented on #112
Waiting on @sglanzer to cut a new build.

-jeff

[2016-04-06 05:15] sglanzer commented on #112
Sorry, I'll handle that tomorrow - we need to figure out the NPM publishing permissions so that I'm not a bottleneck on this

[2016-04-06 18:11] sglanzer commented on #112
Published 0.9.2

[2016-04-06 18:23] jschilli commented on #112
Thanks @sglanzer

[2016-04-06 23:24] arjansingh commented on #112
👍

On Wednesday, April 6, 2016, Jeff Schilling <notifications@github.com>
wrote:

--
Arjan

[2016-04-07 02:15] arjansingh commented on #112
Any objections to me closing this (since I filed it)?

[2016-04-07 02:17] jschilli commented on #112
Thanks. That would be awesome

-jeff

[2016-04-07 16:29] #112 closed

[2016-04-07 23:14] svkangal commented on #116
@jschilli This has been fixed with new version and can be closed

[2016-04-07 23:15] jschilli commented on #116
@svkangal thx

[2016-04-07 23:15] #116 closed

[2016-04-19 12:27] dafortin opened #134 "Running tests with no coverage throwing an error `Cannot read property 'map' of undefined`"
I added ember-cli-blanket to my new project. I'm seeing the coverage when I'm using the following url: http://localhost:4200/tests?coverage. There is not errors in my terminal.

When I'm using the following url: http://localhost:4200/tests (Run the tests with no coverage)

I'm seeing an error in my browser (chrome): `jquery.js:9203 POST http://localhost:4200/write-blanket-coverage 500 (Internal Se

[2016-04-19 12:32] jschilli commented on #134
That was a regression - fixed in #133

not yet release but feel free to verify against that commit.

[2016-04-21 14:12] #134 closed

[2016-04-21 14:17] dafortin opened #135 "Cannot read property error on localhost:4200/tests"
I did an ember install ember-cli-blanket.

I'm getting the following error on the localhost:4200/tests
<img width="871" alt="screen shot 2016-04-21 at 10 09 15 am" src="https://cloud.githubusercontent.com/assets/18552536/14712047/a7106946-07a9-11e6-8041-68c667de3e79.png">

I'm not getting this error on localhost:4200/tests?coverage

* Note: I did modify the code generated by ember install ember-cl

[2016-04-21 14:36] jschilli commented on #135
@dafortin did you run against #c992c5efb4d154292a5c04233727a7a282f0e318

It's not released so wouldn't expect it to be resolved unless you run against that sha

That was a regression - fixed in #133

not yet release but feel free to verify against that commit.

[2016-04-21 14:38] dafortin commented on #135
I will try it :) Thanks !

[2016-04-21 19:33] dafortin commented on #135
@jschilli  I'm new to git hub and to ember. Any reference or hint on how I can use a version that was not release yet?

[2016-04-21 19:58] jschilli commented on #135
no problem

if you update your package.json to a git url reference e.g. http://stackoverflow.com/a/18049685

e.g.     "broccoli-ember-inline-template-compiler": "git://github.com/jschilli/broccoli-ember-inline-template-compiler.git#use-bower-template-compiler",

but substituting in the correct values.

[2016-04-22 12:02] dafortin commented on #135
Regression done. Fixed.

[2016-04-22 12:02] #135 closed

[2016-04-23 13:36] dianafa commented on #17
I ran into this a couple of days ago and it's really annoying when having a lot of addons to exclude. Is there any progress on this issue?

[2016-04-23 16:12] flyswatter commented on #17
I doubt it, it was a pretty niche issue, I'm over it now. I believe you are the new most motivated!

- Dan

[2016-04-30 03:33] #122 closed

[2016-05-04 18:26] #123 closed

[2016-05-04 21:29] donahchoo commented on #109
@jschilli @sglanzer Is there a reason to not use

`  antifilter: '//.*(tests|\.hbs$).*/',`
instead?

[2016-05-07 01:07] coladarci commented on #89
Would love to see this happen! How difficult would this be to wire up? I haven't the slightest idea of where to go to make something like that happen..

[2016-05-10 15:14] panthony opened #140 "Blanket may break ember-cli live reload ?"
Hi there,

Ever since I added ember-cli-blanket to my app the live reload is broken, it will always fails with:

[code]

I can't tell if it's a bug, an incompatibility with another addon or if it's a configuration issue but it's only the live reload that fails:

 - the app starts fine
 - the tests runs fine
 - I do have the code coverage

And it is ALWAYS the "tests" directory, if I sets "tests: f

[2016-05-12 14:34] rwwagner90 commented on #121
Anyone know if this is fixed?

[2016-05-14 18:42] sglanzer commented on #121
I haven't looked at it personally and I haven't seen any other reports, so it's unconfirmed currently

[2016-05-18 08:45] julianps opened #141 "LCOV "SF:" Path Problem"
Hi everybody,

when i create my coverage report (using the lcov-reporter), sonarqube is not able to make the analysis.  **I'm working on an ember-addon project.** The directory Structure is as follows: (example file concat.js)

-- $projectname$
.. |
.. |-- app
.... |
.... |-- helpers
........|
........| - concat.js

The LCOV output is:

SF:$projectname$/helpers/concat.js
DA:1,1
DA:2,1
...
LF:9
LH:

[2016-05-18 13:15] sglanzer commented on #141
We use blanket for our addon projects - some tools do require modifications to the LCOV output however.  You can see an example where we use `sed` to do manipulation of the LCOV output after the coverage has been generated here https://github.com/ciena-frost/ember-frost-core/blob/master/.travis.yml#L23

[2016-05-18 15:54] julianps commented on #141
that solved my problem thanx. There is one problem left. It seems that the coverage-analysis is not processed on the original source files, so there is a difference in the files that sonar scans and the coverage reports. But My Coverage is now successfully inserted in sonar. Thnx

[2016-05-19 08:11] #141 closed

[2016-05-22 06:04] chauhansudhir opened #142 "[ember-cli-blanket]:error: TypeError: Cannot read property 'type' of undefined while writing blanket coverage"
All of a sudden I started getting the following error.
[ember-cli-blanket]:error: TypeError: Cannot read property 'type' of undefined while writing blanket coverage

please suggest if anyone already know the fix.

[2016-05-26 00:49] andrewmtoy commented on #75
I'm seeing the same issue.  I think this issue and [issue 142](https://github.com/sglanzer/ember-cli-blanket/issues/142) are related.

[2016-05-27 01:05] andrewmtoy commented on #142
I fixed this issue by upgrading pretender to 1.1.

[2016-05-27 01:05] andrewmtoy commented on #75
I fixed this issue by upgrading pretender to 1.1.

[2016-06-03 20:37] null-null-null opened #143 "Global error: TypeError: undefined is not an object (evaluating 'data.length') at http://localhost:7357/assets/test-loader.js, line 115"
After upgrading from 0.8.0 to 0.9.4, I started getting this error when coverage is enabled:

[code]

This may be related to https://github.com/sglanzer/ember-cli-blanket/issues/135, but the issue is not resolved by commit `#c992c5efb4d154292a5c04233727a7a282f0e318`.

Let me know if there's any additional info that would help.

[2016-06-03 21:24] jschilli commented on #143
does coverage show up in the browser?

[2016-06-03 23:20] null-null-null commented on #143
It doesn't.

[2016-06-03 23:23] jschilli commented on #143
Are you running with ?coverage

-jeff

[2016-06-03 23:24] null-null-null commented on #143
Correct: `"test_page": "tests/index.html?hidepassed&coverage"`

On Fri, Jun 3, 2016 at 4:23 PM, Jeff Schilling <notifications@github.com>
wrote:

[2016-06-08 01:49] oniofchaos opened #144 "Add loader.js to dependencies?"
I otherwise don't need `loader.js` in my apps, but to use `ember-cli-blanket` I also have to add this dependency. Would it be desirable to add `loader.js` to the dependencies here so that I wouldn't have to do this?

[2016-06-08 09:20] jschilli commented on #144
AFAIK loader.js is required by ember-cli and recently shifted from being a bower dependency to an npm dependency.

So I can't imagine it not being a requirement for some time

[2016-06-08 09:20] #144 closed

[2016-06-13 14:37] rwwagner90 opened #145 "Need to make work with test-loader.js in npm"
Ember-CLI 2.7.0-beta.1 moved test-loader.js out of bower and into npm and now I get errors that it can't find it.

I mistakenly posted an issue about it on Ember-CLI and just found out it was an ember-cli-blanket issue.

https://github.com/ember-cli/ember-cli/issues/5974

[2016-06-14 14:35] rwwagner90 commented on #121
I'm going to close this, as just using FF is acceptable to me. Feel free to reopen if you'd like to look into getting Chrome to work

[2016-06-14 14:35] #121 closed

[2016-06-20 21:54] mmelvin0 opened #147 "Double escaping in qunit/reporter.js"
The escapeInvalidXmlChars() function looks like this:

[code]

Note you're double-escaping `&;`. Also I'm not sure why grave accent and `$` need to be escaped.

Couldn't this be simplified to this:

[code]

[2016-06-22 18:26] rafael-paiva opened #148 "DEPRECATION: Overriding init without calling this._super is deprecated."
After upgrading to `ember-cli 2.6.2` I get the following deprecation warning when starting my app:

`DEPRECATION: Overriding init without calling this._super is deprecated. Please call `this._super.init && this._super.init.apply(this, arguments);` addon: `Ember CLI Blanket`
    at Function.Addon.lookup (/Users/v-paivar-ave/Code/ember-update/awp-ptc/node_modules/ember-cli/lib/models/addon.js:896:27

[2016-06-24 17:28] netes commented on #143
Same here. This showed up in completely new project with Ember CLI 2.6.2.

[2016-06-29 07:09] markz1204 commented on #143
Same problem. When this will be fixed ?

[2016-06-29 13:35] sglanzer commented on #143
I don't know about @jschilli, but I personally won't have time to look into this until at least next week - anyone who has time to provide additional debugging information would be appreciated

[2016-06-30 05:00] pixelhandler commented on #86
@jschilli forgot all about this convo. Thanks for helping :)

[2016-07-07 08:37] aparna-v opened #149 "Ember CLI + Testem + Qunit + Yadda + Mirage with blanket error on enabling coverage"
I am getting the following on installing Ember CLI Blanket and enabling coverage.
Uncaught TypeError: Cannot read property 'length' of undefined
Source:
http://localhost:7357/assets/test-loader.js:123

The error does not appear if coverage is disabled
Versions:
Ember CLI: 1.13.13
node: 0.10.40
npm: 2.14.10
"ember-cli-mirage": "0.1.13",
"ember-cli-qunit": "^1.4.0",
ember-cli-blanket: 0.9.5,
ember-c

[2016-07-16 13:09] bmeurant commented on #143
Hi.

I add the same issue with Ember CLI 2.6.2 but it appears that during the update, I also accidentally resolved blanket version to 1.1.7. Rolling back to the original 1.2.1 fork fixed the issue for me.

[2016-07-21 21:21] fotinakis opened #150 "lcov reporter logging noise"
With ember-cli-blanket enabled, I get noisy logs at the end of the test suite:

[code]

This is with: `reporters: ['lcov']` and ember-cli-blanket 0.9.5.

[2016-07-22 17:33] fotinakis opened #151 "Support for parallel test runners and output files"
[ember-exam](https://github.com/trentmwillis/ember-exam) can parallelize an Ember test suite by using multiple Chrome instances. However, because `ember-cli-blanket` uses the `/write-coverage-report` endpoint at the end of a test suite with a single output filename, only the last write will win.

If you could do something like specify a function that returns the output filename, and pass it an ind

[2016-07-25 14:26] sglanzer commented on #151
I'm more than happy to accept a PR on this, but most of my future effort is going to be focused on `ember-cli-code-coverage` - if you would like to help contribute a parallelize feature to that project I'd be happy to work with you on it

[2016-07-28 07:47] offirgolan commented on #145
ping @sglanzer 😺

[2016-07-28 13:18] sglanzer commented on #145
Yeah, sorry guys - this is something that I obviously need to fix - will get this done today

[2016-07-28 13:22] rwwagner90 commented on #145
Woo thanks @sglanzer! I was hoping ember-cli-code-coverage would be useable soon, but looks like we'll have to keep using this for the foreseeable future, so a patch would be awesome 😄

[2016-07-28 13:24] sglanzer commented on #145
That was my line of thinking as well (re: ember-cli-code-coverage) and we're putting some effort into that, but you're right that we need this as a stopgap

[2016-07-28 14:29] sglanzer commented on #145
@EWhite613 is going to take a stab at this, I'll throw in some help when I free up later today

[2016-07-28 17:13] sglanzer commented on #145
@EWhite613 put in a fix #152 and we've published 0.9.6 - let us know if that takes care of the problem on your end and we'll close this

[2016-07-28 17:38] rwwagner90 commented on #145
@sglanzer @EWhite613 it seems that the blueprint no longer adds the necessary lines to tests/index.html. That will need to be updated to work with the new format as well.

[2016-07-28 17:41] offirgolan commented on #145
@sglanzer seems like 0.9.6 fixed the issue. Thanks for the quick response!

[2016-07-28 17:42] rwwagner90 commented on #145
Should just need to add `{{rootURL}}` to the path it is looking for to add lines after.

[2016-07-28 17:42] rwwagner90 commented on #145
@offirgolan it does not add the necessary lines to index.html for you though does it?

[2016-07-28 17:42] sglanzer commented on #145
@rwwagner90 he's probably using it against a project that had run the blueprint previously

[2016-07-28 17:44] offirgolan commented on #145
Yup. I ran the generator and can confirm it doesnt add the scripts to the tests/index.html

[2016-07-28 17:45] rwwagner90 commented on #145
Yeah, probably. Do you want me to submit a PR for looking for the `{{rootURL}}` stuff @sglanzer or can one of you guys do it real quick? Just need to add it when looking for lines to add after, and also add it to each line, so you end up with stuff like:

[code]

[2016-07-28 17:48] sglanzer commented on #145
@rwwagner90: @EWhite613 is going to do a quick PR - definitely appreciate you testing/catching that one

[2016-07-28 17:51] offirgolan commented on #145
@sglanzer I got you fam

[2016-07-28 17:55] sglanzer commented on #145
Thanks @offirgolan - 0.9.7 published

[2016-07-28 19:38] rwwagner90 commented on #145
Everything works great. Thanks everyone! 🎉

[2016-07-28 19:38] #145 closed

[2016-07-29 15:29] rwwagner90 opened #154 "Cannot read property 'cliOptions' of null"
Getting errors on Travis after updating blanket. https://travis-ci.org/shipshapecode/ember-3d-nav/jobs/148338999

[code]

[2016-07-29 21:01] vcipriani commented on #113
I ran into the same error undefined 'blanket.options('cliOptions').autostart w/ a brand new ember app.  This can be replicated on ember-cli v2.7.0 by doing

    ember new brokenApp
    ember install ember-cli-blanket
    ember test

@wesm87's solution fixed the issue.  If that solution is satisfactory, I can work on a PR.  Let me know.

[2016-07-31 21:38] sglanzer commented on #113
@vcipriani I'd be happy to accept a PR on this, looks like #154 is likely related as well

[2016-08-02 17:21] rwwagner90 commented on #113
PR would be great, as this is breaking my addons currently!

[2016-08-03 12:06] rwwagner90 commented on #154
@sglanzer this appears to be an issue with the node version. It's failing with 4.x, but works with 6.x

[2016-08-07 06:08] renatocarvalho opened #156 "The Broccoli Plugin: [Funnel: Funnel (testLoader)] failed"
I just discovered that `ember-cli-blanket` is breaking my `ember-cli@2.7`.

`ember-cli-test-loader` is now an NPM module instead of a Bower package. Perhaps `ember-cli-blanket` is using the old setup and that's why it's breaking on `ember-cli@2.7`.

There's a related discussion here https://github.com/ember-cli/ember-cli-test-loader/issues/24

[2016-08-10 14:25] rwwagner90 commented on #154
Closing this, as not something related to this library

[2016-08-10 14:25] #154 closed

[2016-08-11 12:33] rwwagner90 opened #157 "No ouput files generated"
I am having an issue where I see all the coverage reports in my browser just fine, when I run `ember test --server`, but no output files are generated. My blanket options look like this:

[code]

I would expect an `lcov.dat` file to show up, but it does not. We are using mirage, but I think we have the passthrough wired up correctly. Is this what would happen with mirage if we didn't configure it

[2016-08-11 12:41] jschilli commented on #157
The easiest way to debug this is in chrome. Open the inspector. At the
conclusion of the test run you should see the post to
`write-coverage-data`. If you do not see it, then something is eating your
post request.

Also check the console for any warnings or errors at the end of the run.

On Thu, Aug 11, 2016 at 7:33 AM Robert Wagner <notifications@github.com>
wrote:

[2016-08-11 12:46] rwwagner90 commented on #157
@jschilli is it supposed to be `write-coverage-data` or `write-blanket-coverage`?

[2016-08-11 12:55] jschilli commented on #157
Was typing from memory

On Thu, Aug 11, 2016 at 7:46 AM Robert Wagner <notifications@github.com>
wrote:

[2016-08-11 13:11] rwwagner90 commented on #157
@jschilli I am seeing this error in my terminal:

[code]

[2016-08-11 13:26] jschilli commented on #157
In your terminal and not in the Browser console?  Did you see the POST call in the browser?

[2016-08-11 13:30] rwwagner90 commented on #157
@jschilli there is no POST in the browser. The other error in the terminal may have been related to a `debugger` I had in trying to figure stuff out.

[2016-08-11 16:00] jschilli commented on #157
No post suggests that mirage or pretender or other xhr hook is eating the
request.

My recollection is that there is a message in the browser console before we
attempt to POST.

Not at a computer to verify - but I would check in on the mirage config

On Thu, Aug 11, 2016 at 8:30 AM Robert Wagner <notifications@github.com>
wrote:

[2016-08-11 16:29] rwwagner90 commented on #157
@jschilli it appears we just needed to update mirage and pretender. Probably need to add version requirements to the config

[2016-08-13 02:18] elwayman02 commented on #156
I'm also seeing this error. :(

[2016-08-13 03:02] sglanzer commented on #156
We've been working off 2.6 - I'll see if I can find a quick fix for this

[2016-08-13 03:14] sglanzer commented on #156
I just spun up a new app on 2.7 and confirmed that `ember-cli-test-loader` is an npm dependency instead of a bower dependency

I'm able to execute a build/serve/test with coverage and no issues

Do either of you have a sample repo where this can be reproduced?

[2016-08-13 03:16] sglanzer commented on #157
@rwwagner90 what versions are you using?  We've been on mirage 0.1.x for a while, but I believe there are some people in the company running 0.2.x as well

[2016-08-13 03:20] sglanzer commented on #148
Fixed a while ago - we're now on 0.9.8, just haven't been keeping the issues clean

[2016-08-13 03:20] #148 closed

[2016-08-13 04:09] elwayman02 commented on #156
To clarify, I'm using ember-cli-blanket in an addon and seeing this
failure. You can try reproducing with this addon's test build:

https://github.com/elwayman02/ember-unauthorized

I removed ember-cli-blanket to unblock myself, but just reinstall it and
see if you can run the tests. This was my blanket config:

https://github.com/elwayman02/ember-unauthorized/commit/230abdede8aedb1aab8647773c59b5

[2016-08-16 02:30] rwwagner90 commented on #157
@sglanzer I believe we were previously on 0.1.11 and updating to 0.1.13 worked. The versions listed in the docs for ember-cli-code-coverage seem to be required over here too. Would you like me to copy their version requirements and submit a PR for the README here?

[2016-08-16 03:18] sglanzer commented on #157
@rwwagner90 That would be great :)

[2016-08-16 11:59] jschilli commented on #142
thanks @andrewmtoy should be resolved (via doc ) with #158

[2016-08-16 11:59] #142 closed

[2016-08-16 14:32] #157 closed

[2016-08-18 19:48] workmanw opened #159 "Ember-cli 2.7.0 -- warning app/tests.map missing"
After upgrading to ember-cli 2.7.0 (from 2.5.0) I started receiving this warning when running `ember serve`:

[code]

I reduce the warning down to this addon. It's very easy to reproduce using ember-cli version 2.7.0. Here are steps:
[code]

[2016-08-26 19:30] ultimatemonty opened #161 "undefined is not an object using 0.9.8"
using the default config and running `ember test` is giving me the following error:

[code]

output of `ember -v --verbose` is
[code]

blanket-options.js is
[code]

this addon worked for me on an earlier version of ember-cli - not sure if it's ember-cli or something else. I have modified testem,js to include `&coverage` in the URL but even a standard `ember test` with no server is crashing.

Unsur

[2016-09-06 01:36] TaylorHG commented on #161
I have the same issue in ember-cli 2.7.0

[2016-09-06 13:11] jschilli commented on #161
@ultimatemonty @TaylorHG - weird - I updated to ember-cli 2.70, ran `ember new`, `ember install ember-cli-blanket` and `ember test` - i see a complaint about input sourcemap but the tests run fine

[code]
interesting in #154 that he saw the same and tied to to a node version

[2016-09-14 05:32] nathanhammond opened #162 "ember-cli-blanket does not work with ember-cli-qunit 2.2.2 or newer."
The fix here is for `ember-cli-blanket` to hook [`ember-cli-test-loader`](https://github.com/ember-cli/ember-cli-test-loader) to insert its module instrumentation. That's the ideal insertion point for what you're trying to accomplish. This also has the benefit of reducing the number of intimate and private APIs inside of Ember's module loading infrastructure that it needs to touch. Also it no long

[2016-09-14 14:16] rwwagner90 commented on #162
👍 definitely broken for all my addons that I have updated 😞

[2016-09-16 13:32] sglanzer commented on #162
I'd love to find time to fix this, but most of my effort on code coverage has been dedicated to `ember-cli-code-coverage` these days.  I'm more than happy to accept a PR, but I doubt I'll have time to fix this for at least a week or two.

[2016-09-30 22:49] arthur5005 opened #163 "Silence Logging"
It would be nice if there was a way silence the logging. Makes reading test suite results in Phantomjs very difficult.

[2016-10-06 17:56] luketheobscure commented on #162
@sglanzer should we start migrating our projects over to ember-cli-code-coverage then?

[2016-10-06 19:51] sglanzer commented on #162
@luketheobscure Yeah, with the 0.3 release `ember-cli-code-coverage` supports addons, so I would encourage a swap.  I haven't marked this repo as deprecated yet, but that's probably the next step.  I don't think @jschilli or I have any time to actively work on maintaining this and I believe `ember-cli-code-coverage` is the way forward

[2016-10-06 19:53] sglanzer commented on #162
@jschilli @rwjblue @kategengler any thoughts on endorsing a cutover?

[2016-10-27 03:12] luketheobscure commented on #162
@sglanzer It would still be helpful to get this fixed. I can't switch over to `ember-cli-code-coverage` until they get it playing nicely with CoffeeScript (https://github.com/kategengler/ember-cli-code-coverage/issues/55).

[2016-10-27 11:23] rwwagner90 commented on #162
@luketheobscure I think we ought to have everyone focus on ember-cli-code-coverage, rather than putting time into trying to get this working again.

[2016-10-27 12:59] sglanzer commented on #162
@luketheobscure I have to agree with @rwwagner90 - unfortunately the time available to dedicate to the type of project is severely limited, so we need to throw any effort behind a blessed implementation

I'm also more than happy to accept a PR and publish a new release if you find that to be a shorter path for resolving your situation

[2017-03-02 13:44] #106 closed

[2017-03-11 05:04] dfalling opened #165 "Broccoli TreeMerger fails"
I'm getting this failure after installing ember-cli-blanket.  I've cleaned out my package folders and tmp directory, and still get this.  Any ideas?

[code]

[2017-03-13 14:11] sglanzer commented on #165
@dfalling The version of ember-cli probably makes a difference here, but I haven't seen that issue.  In general I'm recommending that people try to use https://github.com/kategengler/ember-cli-code-coverage these days since we/I don't really have time to maintain this project and most of the community effort (including mine) is going into the new project.

[2017-03-14 01:30] dfalling commented on #165
Thanks @sglanzer, I totally missed the shift to ember-cli-code-coverage.  Are you open to a PR that updates the README to recommend this?  Thanks!

[2017-03-14 13:16] sglanzer commented on #165
@dfalling yeah, absolutely 👍

[2017-03-15 02:27] #165 closed

[2017-03-15 16:37] gcusnieux opened #167 "Default Blueprint not working on Windows 7"
Hello,

when install addon with command `ember install ember-cli-blanket@0.9.8`,
the project test file `tests/index.html` not contains :

[code]

**Environment :**
- node 6.10.0
- ember-cli 2.11.1
- npm 3.10.0
- Windows 7 & PowerShell

Thanks for reply;

[2017-03-15 17:30] gcusnieux commented on #167
I don't understand why... but it's reality @stefanpenner

[2017-03-16 13:14] #167 closed

[2017-08-31 13:22] RobbieTheWagner commented on #162
Should we close this issue, since ember-cli-code-coverage is the new thing to use?

[2017-08-31 13:29] sglanzer-fire commented on #162
Yeah, I'd be in favor of archiving the project as a whole

On Aug 31, 2017 9:22 AM, "Robert Wagner" <notifications@github.com> wrote:

[2017-09-05 02:23] RobbieTheWagner commented on #162
@sglanzer deprecating does sound like a good idea. I was just looking through open issues that are lingering in my GitHub and wanted to see what you thought.

[2018-10-11 19:59] #65 closed